﻿@{
    var currentController = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();
    var currentAction = HttpContext.Current.Request.RequestContext.RouteData.Values["Action"].ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PMS Management Software</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        .nav-link {
            font-size: 16px;
            font-weight: bold;
        }

        p {
            color: white;
        }

        i {
            color: white;
            font-weight: bold;
        }

        .nav-link:hover {
            color: navy;
        }
    </style>
    <style>
        .ul {
            display: none;
        }

        .nav-treeview:hover .ul {
            display: block;
        }
        .has-treeview > li:hover ul {
            display: block;
        }
    </style>

</head>
<body class="hold-transition sidebar-mini " >
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="background-color:#ca024b;">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("Dashboard", "Principle")" class="nav-link"><span style="color:white;">Dashboard</span></a>
                </li>
            </ul>
            @*SEARCH FORM*@
            @*<form class="form-inline ml-3">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>*@

            <a href="#" class="d-block" style="font-family:'Times New Roman';font-size:20px;color:white;"> Welcome  @Filters.AuthenticationModel.GlobalUser.getGlobalUser().Name</a>

            <ul class="navbar-nav ml-auto" style="background-color:#ca024b;">

                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <!-- Messages Dropdown Menu -->
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("Login", "Account")" type="submit" class="nav-link"><span style="color:white">Logout</span></a>
                </li>


            </ul>

        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color:#ca024b;">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="~/Content/logo.png"
                     alt="AdminLTE Logo"
                     class="brand-image img-circle elevation-2"
                     style="opacity: .8">
                <span class="brand-text font-weight-light" style="color:white ;font-family:'Times New Roman';font-size:20px;text-align:center">Police Modern School</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                
                <!-- Sidebar Menu -->
                <nav class="mt-2">

                    @*@{
                             var repositoryFactory = new Repository.RepositoryModel.IDataBaFactory(new Entities.Models.PacSchoolManagementContext());
                          var userbusiness = new Business.HQMenuBusiness(RepositoryFactory);
                          var menulist = userbusiness.GetAssignedMenu(@Filters.AuthenticationModel.GlobalUser.getGlobalUser().U);
                        }*@
                    @*//    @LayoutMenuHelper.LoadMenu(menulist, 0)*@




                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
            <!-- Sidebar Menu -->
            <nav class="mt-2" style="color:;">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" style="background-color:#ca024b;">
                    <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-adjust"></i>
                            <p>
                                Settings
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">


                            <li style=" text-decoration-color: navy;" class=" nav-item">
                                <a href="@Url.Action("SchoolDetail","School")" class="nav-link">
                                    <i class="nav-icon fas fa-user-alt"></i>
                                    <p>School Details</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "AcademicCalender")" class="nav-link">
                                    <i class="nav-icon fas fa-user-alt"></i>
                                    <p>Academic Detail</p>
                                </a>
                            </li>
                          
                            <li class="nav-item">
                                <a href="@Url.Action("Index","Employee")" class="nav-link">
                                    <i class="nav-icon fas fa-book-open"></i>
                                    <p>Student Import</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index","Employee")" class="nav-link">
                                    <i class="nav-icon fas fa-book-open"></i>
                                    <p>Employee Import</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Visitor")" class="nav-link">
                            <i class="nav-icon fas fa-user"></i>
                            <p>Visitor List </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Administration
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">


                            <li style=" text-decoration-color: navy;" class=" nav-item">
                                <a href="@Url.Action("Index","Department")" class="nav-link">
                                    <i class="nav-icon fas fa-user-alt"></i>
                                    <p>Department List</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index","SchoolRole")" class="nav-link">
                                    <i class="nav-icon fas fa-user-alt"></i>
                                    <p>Role</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index","Employee")" class="nav-link">
                                    <i class="nav-icon fas fa-book-open"></i>
                                    <p>Employee</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link"> 
                            <i class="nav-icon fas fa-book-open"></i>
                            <p>
                                Academic
                                <i class="right fas fa-angle-left"></i>

                            </p>
                        </a>
                        <ul class="nav nav-treeview">

                            <li class="nav-item">
                                <a href="@Url.Action("Course", "Course")" class="nav-link">
                                    <i class="fas fa-list-alt"></i>
                                    <p>Course</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Batch", "Batch")" class="nav-link">
                                    <i class="fas fa-list-alt"></i>
                                    <p>Batch</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "AssignTeacher")" class="nav-link">
                                    <i class="fas fa-list-alt"></i>
                                    <p>Assign Class Teacher</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("Subject", "Subject")" class="nav-link">
                                    <i class="fas fa-list-alt"></i>


                                    <p>Subject</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("SubjectTeacher", "AssignTeacher")" class="nav-link">
                                    <i class="fas fa-list-alt"></i>


                                    <p> Assign Subject Teacher</p>
                                </a>
                            </li>




                        </ul>
                    </li>

                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fas fa-school"></i>
                            <p>
                                School
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("Class", "MasterDataManagement")" class="nav-link">
                                    <i class="fas fa-list-alt"></i>
                                    <p>Class</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Section","Section")" class="nav-link">
                                    <i class="fas fa-list-alt"></i>


                                    <p>Section</p>
                                </a>
                            </li>


                        </ul>
                    </li>






                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="far fa-address-card"></i>
                            <p>
                                Student Management
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("StudentList", "Student")" class="nav-link">
                                    <i class="fas fa-child"></i>
                                    <p>Student List</p>
                                </a>
                            </li>
                            <li class="nav-item">

                                <a href="@Url.Action("StudentList", "StudentAdmissionExcel")" class="nav-link">
                                    <i class="fas fa-envelope"></i>


                                    <p>Student Excel List</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "StudentAdmissionExcel")" class="nav-link">
                                    <i class="fas fa-envelope"></i>
                                    <p>Bulk Upload Student</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("StudentAdmission", "StudentAdmission")" class="nav-link">
                                    <i class="fas fa-chalkboard-teacher"></i>

                                    <p>Student Admissions</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("Subject", "Subject")" class="nav-link">
                                    <i class="fas fa-envelope"></i>   <p>Subject</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("StudentAdmission", "StudentAdmission")" class="nav-link">
                                    <i class="nav-icon fas fa-user-alt"></i>
                                    <p>Student Admission</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("Attendence", "Attendence")" class="nav-link">
                                    <i class="fa fa-angle-double-right"></i>
                                    <p>AttendenceManagement</p>
                                </a>
                            </li>



                        </ul>
                    </li>

                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-hospital-alt"></i>
                            <p>
                                Library Management
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">


                            <li class="nav-item">
                                <a href="@Url.Action("BookCategoryList", "BookCategory")" class="nav-link">
                                    <i class="nav-icon fas fa-user-alt"></i>
                                    <p> Book Category</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ADDBook", "Book")" class="nav-link">
                                    <i class="fas fa-envelope"></i>   <p>Add Book</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("IssuedBookList", "IssueBook")" class="nav-link">
                                    <i class="nav-icon fas fa-user-alt"></i>
                                    <p>Issue Book</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("ReturnBook", "ReturnBook")" class="nav-link">
                                    <i class="nav-icon fas fa-user-alt"></i>
                                    <p>Return Book</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("Reportbook", "ReportBook")" class="nav-link">
                                    <i class="nav-icon fas fa-user-alt"></i>
                                    <p>Report Book</p>
                                </a>
                            </li>


                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-hospital-alt"></i>
                            <p>
                                Leave

                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">

                            <li class="nav-item">
                                <a href="@Url.Action("LeaveCategoryList", "LeaveCategory")" class="nav-link">
                                    <i class="fas fa-list-alt"></i>
                                    <p>Category</p>
                                </a>
                            </li>



                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-shuttle-van"></i>

                            <p>
                                Transportation
                                <i class="right fas fa-angle-left"></i>

                            </p>
                        </a>
                        <ul class="nav nav-treeview">


                            <li class="nav-item">
                                <a href="@Url.Action("TransePortList", "AddTransport")" class="nav-link">
                                    <i class="nav-icon fas fa-car"></i>
                                    <p> Add Transport</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("DriverList", "AddDriver")" class="nav-link">
                                    <i class="nav-icon fas fa-user-alt"></i>  <p>Add Driver</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("AddRauteList", "AddRaute")" class="nav-link">
                                    <i class="nav-icon fas fa-car"></i>
                                    <p>Add Route</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("DestinationAndFeesList", "DestinationAndFees")" class="nav-link">
                                    <i class="nav-icon fas fa-car"></i>
                                    <p>Add Destination</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("TransportAllocationList", "TransportAllocation")" class="nav-link">
                                    <i class="nav-icon fas fa-car"></i>
                                    <p>TransPort Allocation</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("TransportReport", "TransPortReport")" class="nav-link">
                                    <i class="nav-icon fas fa-user-alt"></i>
                                    <p>TransPort  Report</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("TransportFeesCollection", "TransportFeesCollection")" class="nav-link">
                                    <i class="nav-icon fas fa-user-alt"></i>
                                    <p>TransPort Fess Collection</p>
                                </a>
                            </li>

                        </ul>
                    </li>


                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-school"></i>
                            <p>
                                Hostel
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("HostalTypeList", "HostalType")" class="nav-link">
                                    <i class="	fas fa-door-open"></i>
                                    <p>Hostel Type</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("HostalDetailList", "HostalDetail")" class="nav-link">
                                    <i class="fas fa-door-open"></i>
                                    <p>Hostal Detail</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("CreateHostelRoom", "AddHostelRoom")" class="nav-link">
                                    <i class="fas fa-door-open"></i>
                                    <p>Add Room</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("HostalAllocationList", "HotelAlloation")" class="nav-link">
                                    <i class="fas fa-door-open"></i>
                                    <p>Hostel Allocation</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("RequestList", "HotelAlloation")" class="nav-link">
                                    <i class="fas fa-door-open"></i>
                                    <p>Hostel  Request</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("HostelVisitorList", "HostelVisitor")" class="nav-link">
                                    <i class="fas fa-door-open"></i>
                                    <p>Hostel Visitor</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("HostelRegisterList", "HostelRegister")" class="nav-link">
                                    <i class="fas fa-door-open"></i>
                                    <p>Hostel Register</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("TransferList", "HostelTransfer")" class="nav-link">
                                    <i class="fas fa-door-open"></i>
                                    <p>Hostel Transfer</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("HostelFeeCollectionList", "HostelFeesCollection")" class="nav-link">
                                    <i class="fas fa-door-open"></i>
                                    <p>Hostel Transfer</p>
                                </a>
                            </li>


                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-hospital-alt"></i>
                                    <p>
                                        Report
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">

                                    <li class="nav-item">
                                        <a href="@Url.Action("HostelDetailReport", "HostelReport")" class="nav-link">
                                            <i class="fas fa-list-alt"></i>
                                            <p>HostelDetailReport</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("HostelfeesCollectionReport", "HostelReport")" class="nav-link">
                                            <i class="fas fa-list-alt"></i>
                                            <p>FeesCollection</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("HostelTransferReport", "HostelReport")" class="nav-link">
                                            <i class="fas fa-list-alt"></i>


                                            <p>Transfer</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("HostelVisitorReport", "HostelReport")" class="nav-link">
                                            <i class="fas fa-list-alt"></i>


                                            <p>Visitor</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("HostelAllocationReport", "HostelReport")" class="nav-link">
                                            <i class="fas fa-list-alt"></i>


                                            <p>Allocation</p>
                                        </a>
                                    </li>




                                </ul>
                            </li>







                        </ul>



                    </li>


                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-hospital-alt"></i>
                            <p>
                                Leave

                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">

                            <li class="nav-item">
                                <a href="@Url.Action("LeaveCategoryList", "LeaveCategory")" class="nav-link">
                                    <i class="fas fa-list-alt"></i>
                                    <p>Category</p>
                                </a>
                            </li>


                            <li class="nav-item">
                                <a href="@Url.Action("LeaveDetailList", "LeaveDetail")" class="nav-link">
                                    <i class="fas fa-list-alt"></i>
                                    <p>Detail</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("CarryForwordList", "CarryForwordDetail")" class="nav-link">
                                    <i class="fas fa-list-alt"></i>
                                    <p>CarryForwordDetail</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ApplicationList", "LeaveApplication")" class="nav-link">
                                    <i class="fas fa-list-alt"></i>
                                    <p>Leave Appliction</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("OneDutyList", "LeaveApplication")" class="nav-link">
                                    <i class="fas fa-list-alt"></i>
                                    <p>OD List</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ApprovelList", "LeaveApplication")" class="nav-link">
                                    <i class="fas fa-list-alt"></i>
                                    <p>Approvel List</p>
                                </a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </nav>
            <!-- /.sidebar-menu -->

        </aside>
        <!-- Content Wrapper. Contains page content -->
       
        <div class="content-wrapper" style="background-color:white;">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">

                    @RenderBody()

                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <!-- /.content -->
        </div>
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 1.0.0
            </div>
            @*<strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>*@ All rights
            reserved.
        </footer>
        <!-- /.content-wrapper -->
        @*<footer class="main-footer">
                <div class="float-right d-none d-sm-block">
                    <b>Version</b> 3.0.1
                </div>
                <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
                reserved.
            </footer>*@
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/dist/js/demo.js"></script>
</body>
</html>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('.counter').counterUp({
            delay: 100,
            time: 1200
        });

        $(".knob").knob();
    });
</script>
<script type="text/javascript">
        try {
            var currentController = "@currentController";
            var currentAction = "@currentAction";
            //nav-expanded
            if (currentController != undefined && currentController != '') {

                //if (currentAction != '') {
                //    var activemenu = $('a[href*="/' + currentController + '/' + currentAction + '"]');
                //}
                //else {
                //    var activemenu = $('a[href*="/' + currentController + '/"]');
                //}
                var activemenu = $('a[href*="/' + currentController + '/"]');
                if (typeof (activemenu.parents("ul")) != 'undefined') {
                    activemenu.parents("ul").show();
                    activemenu.parents("ul").siblings("a.waves-effect").addClass("subdrop");
                    activemenu.parent("li").addClass('active');
                }
            }
        }
        catch (ex) { }


</script>
