﻿@*@model IEnumerable<PacSchoolManagement.Models.AttendenceViewModel>*@
@model PacSchoolManagement.Models.AttendenceViewModel
@{
    ViewBag.Title = "StudentData";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}


<h2>StudentData</h2>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

<div class="card-body">





    <form action="StudentData" method="post">

        <input type="hidden" class="" name="ClassID" id="StudentDetail" value="@Model.ClassID" readonly="readonly" />
        <input type="hidden" class="" name="Section" value="@Model.SectionId" readonly="readonly" />
        <input type="hidden" class="" name="SchoolId" value="@Model.SchoolId" readonly="readonly" />
        <input type="hidden" class="" name="SessionId" value="@Model.SessionID" readonly="readonly" />
        
        <input type="Date" name="Date" />
        <table class="webgrid-table table table-bordered">
            <thead>
                <tr class="webgrid-header">
                    <th scope="col">
                        RollNo
                    </th>
                    <th scope="col">
                        StudentName
                    </th>

                    <th scope="col">
                        Class
                    </th>

                    <th scope="col">
                        Section
                    </th>

                    <th scope="col">
                        Status
                    </th>
                    <th scope="col">
                        Remark info
                    </th>
                </tr>
            </thead>


            <tbody>

                @foreach (var inqDetail in Model.ListStudentDetail)
            {
                    <tr class="webgrid-header">
                        <td>
                            <input type="text" class="hdnStudentId" value="@inqDetail.StudentID" readonly="readonly" />
                            <input type="hidden" class="StudentSessionId" value="@inqDetail.Session" readonly="readonly" />
                        </td>
                        <td scope="col">
                            @*<input type="hidden" class="hdnItem" value="@inqDetail.StudentID" readonly="readonly" />*@
                            <input type="text" class="StudentName right-bar-toggle" style="width:100%" value="@inqDetail.FirstName" />
                        </td>
                        <td scope="col">
                            <input type="text" class="StudentClassId" style="width:100%" value="@inqDetail.ClassName" />
                        </td>
                        <td scope="col">
                            <input type="text" class="StudentScetion" style="width:100%" value="@inqDetail.Section" />
                        </td>

                        <td>

                            <select id="Status" class="StudentStatus">
                                <option value="Present">Present</option>
                                <option value="Absent">Absent</option>

                            </select>
                        </td>
                        <td scope="col">
                            <input type="text" class="StudentRemak" style="width:100%" placeholder="Remark" value="@inqDetail.Remark" />
                        </td>

                    </tr>

            }

            </tbody>


            <tfoot>

                <tr class="webgrid-row-style"></tr>
            </tfoot>
        </table>

        <input type="submit" value="Submit Form" id="btnInsert" />

    </form>
</div>

<button type="reset" class="btn btn-default" onclick=" window.location.href = '/Attendence/Attendence'">Back</button>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

<script>
    $(document).ready(function () {
      //  alert("okk");
        $("#btnInsert").click(function () {
          //  alert("yes");


     var purchaseArray = new Array();
     $('.table.webgrid-table tbody tr').each(function (e) {
         var purchaseObj = new Object();
         purchaseObj.StudentID = $(this).find('.hdnStudentId').val();
         purchaseObj.SessinId = $(this).find('.StudentSessionId').val();
         purchaseObj.FirstName = $(this).find('.StudentName').val();
        
         purchaseObj.ClassID = $(this).find('.StudentClassId').val();
       
         purchaseObj.AttStatus = $(this).find('.StudentStatus').val();
         purchaseObj.Section = $(this).find('.StudentScetion').val();
        
         purchaseObj.Remark = $(this).find('.StudentRemak').val();

         purchaseArray.push(purchaseObj);
     });
              

                $.ajax({
                    url: '@Url.Action("StudentData", "Attendence")', //
                    dataType: "json",
                    data: JSON.stringify(purchaseArray),
                  //  data: JSON.stringify({ purchaseArray : purchaseArray  }),
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        alert("success");
                        window.href = "Home/Index";
                    },
                    error: function (xhr) {
                    alert("error");
                    }
                    });
    });

    })


    </script>











<script>
    $(document).ready(function () {
        $(".datepicker").datepicker({

            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true
        });

    });
</script>

@*<script type="text/javascript">
    $(document).ready(function () {
        var purchaseArray = new Array();
        $('.table.webgrid-table tbody tr').each(function (e) {
            var purchaseObj = new Object();
            purchaseObj.StudentID = $(this).find('.hdnStudentId').val();

            purchaseArray.push(purchaseObj);
        });
        $('#SupplyDetail').val(JSON.stringify(purchaseArray));
        //  return JSON.stringify("#ListSupplyDetail"); //stringify individual Product
    }).get();


</script>*@