﻿@model PacSchoolManagement.Models.StudentViewModel
@{ ViewBag.Title = "Principle";
   Layout = "~/Views/Shared/_princiLayout.cshtml";
}
<h2>TransferCertificate</h2>

<div id="divId"  style="width:800px; height:800px; padding:20px; text-align:center; border: 10px solid #787878;margin-left:50px;">
    <div style="width:750px; height:750px; padding:20px; text-align:center; border: 5px solid #787878">
        <span style="font-size:50px; font-weight:bold"> Trancefer Certificate </span>
        <br><br>
        <span style="font-size:25px"><i>This is to certify that</i></span>
        <br><br>
        <span style="font-size:30px"><b>@Model.FirstName</b></span><br /><br />
        <span style="font-size:30px"><b>@Model.FatherName</b></span><br /><br />
        <span style="font-size:25px"><i>has completed the course</i></span> <br /><br />
        <span style="font-size:30px">@Model.SchoolID</span> <br /><br />
        <span style="font-size:20px">with score of <b></b></span> <br /><br /><br /><br />
        <span style="font-size:25px"><i>dated</i></span><br />
        @DateTime.Now
       
        <span style="font-size:30px"></span>
    </div>
</div >

<button  class="btn-info"onclick="printDiv('pdf','Title')">print TC</button>
<button type="reset" class="btn btn-default" onclick=" window.location.href = '/Student/StudentList'">Back</button>

<script>
function printDiv(divId,
  title) {

  let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150');

  mywindow.document.write('<html><head> <title>${title}</title>');
    mywindow.document.write('</head><body>');
    mywindow.document.write(document.getElementById("divId").innerHTML);
    mywindow.document.write('</body></html>');

  mywindow.document.close(); // necessary for IE >= 10
  mywindow.focus(); // necessary for IE >= 10*/

  mywindow.print();
  mywindow.close();

  return true;
}
</script>