﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}

<h2>Index</h2>

<button type="reset" class="btn btn-default" onclick=" window.location.href = '/Student/StudentList'">Back</button>
