﻿@model PacSchoolManagement.Models.StudentViewModel
@{ ViewBag.Title = "Principle";
 Layout = "~/Views/Shared/_princiLayout.cshtml";
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-info flag-icon-co"  onclick="AddNewStudent(0)">Add  Student</a> <br /><br />
    

    <table class="table table-striped">
        <thead>
            <tr>

                <th> Registered No.</th>
                <th>Name</th>
                <th>Fathers name</th>
               
            
                <th>Generate Card</th>
                <th>Generate Pass</th>
                <th>TC</th>
                <th>Document Upload</th>
                <th>Detail</th>
                <th>Edit</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody id="SetSchoolList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>
    </table>

    @*Create A Popup Modal With Registration Form For Add Or Edit Student Record*@

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(m => m.StudentID, new { @id = "StuId" })
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.RegdNo, new { @id = "RegdNo", @class = "form-control", @placeholder = "RegdNo*" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.FirstName, new { @id = "FirstName", @class = "form-control", @placeholder = "FirstName*" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.LastName, new { @id = "LastName", @class = "form-control", @placeholder = "LastName*" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.FatherName, new { @id = "FatherName", @class = "form-control", @placeholder = "FatherName*" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.MotherName, new { @id = "MotherName", @class = "form-control", @placeholder = "MotherName*" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.UserID, new { @id = "UserID", @class = "form-control", @placeholder = "UserID*" })
                            </div>
                          <div class="form-group">
                                @Html.DropDownListFor(m => m.Gender, Model.GenderList, "--Select Gender--", new { @id = "DropDwnGender", @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.DropDownListFor(m => m.ClassID, Model.ClassList, "--Select Class--", new { @id = "DropDwnClass", @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.DropDownListFor(m => m.Section, Model.SectionList, "--Select School--", new { @id = "DropDwnSection", @class = "form-control" })
                            </div>
                            @*<div class="form-group">
                                @Html.DropDownListFor(m => m.SessinId, Model.SessionList, "--Select Session--", new { @id = "DropDwnSession", @class = "form-control" })
                            </div>*@

                            @*<div class="form-group">
                                    @Html.TextBoxFor(m => m.SchoolCode, new { @id = "SchoolCode", @class = "form-control", @placeholder = "SchoolCode*" })
                                </div>*@
                            @*<div class="form-group">
                                @Html.DropDownListFor(m => m.Session, Model.PricipalList, "--Select Session--", new { @id = "DropDwnSession", @class = "form-control" })
                            </div>*@
                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="SaveStudentRecord">Save</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Create A PopUp Modal For DeleteConfirmation*@

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4>Delete Student Record</h4>
                </div>
                <div class="modal-body">
                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancel</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#LoadingStatus").html("Loading....");
    $.get("/Student/GetStudentList", null, DataBind);
    function DataBind(StudentList) {
        var SetData = $("#SetSchoolList");
        for (var i = 0; i < StudentList.length; i++) {
            var Data = "<tr class='row_" + StudentList[i].StudentID + "'>" +
                //"<td>" + "<input type='text' id="+StudentList[i].StudentID+" value="+ StudentList[i].StudentID +">" + "</td>" +
                "<td>" + StudentList[i].RegdNo + "</td>" +
                "<td>" + StudentList[i].FirstName + StudentList[i].LastName + "</td>" +
                 "<td>" + StudentList[i].FatherName + "</td>" +
                "<td>" + "<a href='../Student/GeneratePass?StudentID=" + StudentList[i].StudentID + "' class='btn btn-warning'><span class='glyphicon glyphicon-edit'>Pass</span></a>" + "</td>" +
                @*"<td>" + " <a href="@Url.Action("GeneratePass", "Student", new { @txtval = @Model.StudentID })" class="edit-row" title="cancel"><i class="fa fa-trash"></i>Cancel</a>" + "</td>" +*@
                //"<td>" +"<button type='button' id='CardId'>Click Me!</button></td>" +
               //"<td>" + "<button class='btn btn-warning' onclick='GenerateIdCard(" + StudentList[i].StudentID + ")'><span class='glyphicon glyphicon-edit'>PassId</span></button>" + "</td>" +
               "<td>" +"<a href='../Student/GenerateIdCard?StudentID="+StudentList[i].StudentID+"' class='btn btn-warning'>Card</a>" + "</td>" +
                "<td>" + "<a href='../Student/GenerateTC?StudentID=" + StudentList[i].StudentID + "' class='btn btn-warning'>TC</a>" + "</td>" +

                "<td>" + "<a href='../Student/UploadDocument?StudentID=" + StudentList[i].StudentID + "' class='btn btn-warning'>Docup</a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-danger' onclick='EditStudentRecord(" + StudentList[i].StudentID + ")'><i class='fas fa-user'></i></a>" + "</td>" +
                    "<td>" + "<a href='#' class='btn btn-danger' onclick='EditStudentRecord(" + StudentList[i].StudentID + ")'><i class='fas fa-edit'></i></a>" + "</td>" +

                "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteStudentRecord(" + StudentList[i].StudentID + ")'><i class='fas fa-trash'></i></a>" + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingStatus").html(" ");

        }
    }

    //Show The Popup Modal For Add New Student

    function AddNewStudent(StudentId) {
        $("#form")[0].reset();
        //$("#StuId").val(0);
        //   $("#DropDwn option:selected").text("--Select Dept--");
        $("#ModalTitle").html("Add New Student");
        $("#MyModal").modal();

    }

    ///Show The Popup Modal For Edit Student Record
    ///Show The Popup Modal For Edit Student Record

    function EditStudentRecord(StudentID) {
        var url = "/Student/GetStudentById?StudentId=" + StudentID;
        $("#ModalTitle").html("Update Student Record");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#RegdNo").val(obj.RegdNo);
                $("#FirstName").val(obj.FirstName);
                $("#LastName").val(obj.LastName);
                $("#MotherName").val(obj.MotherName);
                $("#UserID").val(obj.UserID);
              //  $("#Email").val(obj.Email);
                $("#DropDwnGender option:selected").val(obj.Gender);
                $("#DropDwnClass option:selected").val(obj.ClassId);
                $("#DropDwnSection option:selected").val(obj.Section);

                $("#DropDwnSession option:selected").val(obj.SessinId);

            }
        })
    }


    $("#SaveStudentRecord").click(function () {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/Student/SaveDataInDatabase",
            data: data,
            success: function (result) {
                alert("Success!..");
                window.location.href = "/Student/StudentList";
                $("#MyModal").modal("hide");

            }
        })
    })

    //Show The Popup Modal For DeleteComfirmation
    var DeleteStudentRecord = function (StudentId) {
        $("#StuId").val(StudentId);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var StuId = $("#StuId").val();
        $.ajax({
            type: "POST",
            url: "/Student/DeleteStudentRecord?StudentId=" +StudentId,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + StuId).remove();
            }
        })
    }
</script>



<!--Generate Pass-->>

<script>

    function GeneratePass(StudentID) {
        var url = "/Student/GeneratePass?StudentId=" + StudentID;
        $.ajax({
            type: "Post",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                window.location.href ="../Student/GenerateIdCard";

            }
        })
      
    }

    function GenerateIdCard(StudentID) {
        var url = "/Student/GenerateIdCard?StudentId=" +StudentID;

        $.ajax({
            type: "Get",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                window.location.href ="/Student/GenerateIdCard";


            }
        })
    }



     
   </script>




@*<script type="text/javascript">
    $(document).ready(function () {
        function getURL() {
            alert("The URL of this page is: " + window.location.href);

            getCompanyInfo();
        }
        getURL();
        if ($("#GenerateIdCard").length > 0) {

        }
    });
    </script>*@


    @*<script type="text/javascript">
        $(document).ready(function () {
            alert(okk);
                $('#CardId').click(function (e) {
                  //  alert("success");
                    debugger;
                    //var str = $("#id1").val();
                    var selectedProductID = { DoorId: $("#id1").val() };
                    alert(selectedProductID);
                    $.ajax({
                        url: '@Url.Action("GenerateIdCard","Student")',
                        type: 'Post',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: JSON.stringify(selectedProductID),
                        success: function (data) {
                            if (data.success) {


                            }
                            else {
                                alert('invalid ID' + data.success);
                            }
                        }
                    });
                });
            });
        </script>*@
