﻿
@model IEnumerable<PacSchoolManagement.Models.HostelTransferViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}

<h2>Index</h2>




<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>






<div class="card">
    <div class="card-header">
        <h3 class="card-title">Transfer Report</h3>

    </div>
   

    <div class="card-body">

        <div class="" id="UpdatePanel">

            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>SR.No</th>
                        <th>Status</th>
                        <th>HostalName</th>
                        <th>HostalType</th>
                        <th>RoomNo</th>

                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.TransferId</td>
                            <td>@user.Status</td>
                            <td>@user.HostelType</td>
                            <td>@user.HostelName</td>
                            <td>@user.HostelRoom</td>

                            @*<td>@user.UserName</td>*@
                            @*<td>@user.DoorNo</td>*@


                        </tr>
                    }
                </tbody>
            </table>
        </div>


        <button class=" btn btn-info" onclick="printDiv('pdf','Title')">PRINT</button>









    </div>


</div>


<script>

    $('#example1').DataTable({
        "paging": true,

        "searching": true,
        "ordering": false,
        "info": true,
        "autoWidth": false,
    });
</script>



<script>
    function printDiv(divId,
      title) {

        let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150');

        mywindow.document.write('<html><head> <title>${title}</title>');
        mywindow.document.write('</head><body>');
        mywindow.document.write(document.getElementById("UpdatePanel").innerHTML);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();

        return true;
    }
</script>










