﻿@model PacSchoolManagement.Models.HostelFeeCollectionViewModel
@{
    ViewBag.Title = "HostelVisitorList";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}




<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>






<div class="card card-warning">

    <!-- /.card-header -->
    <div class="card-body">
        <h3 style="text-align:center;"> HostelFeesList</h3>

        <br />


        <div class="row">

            <div class="col-sm-4 col-md-4 col-lg-2" id="ddlMode">
                <label class="control-label">UserType</label>
                <div class="">
                    @Html.DropDownListFor(m => m.UserType, Model., "--Select User Type-", new { @id = "DropdwnUserType", @class = "form-control" })
                </div>

            </div>


            <div class="col-sm-4 col-md-4 col-lg-2" id="Student">
                <label class="control-label">StudentList</label>
                <div class="">
                    @Html.DropDownListFor(m => m.UserName, Model.StudentList, "--Select Student--", new { @id = "ddluser", @class = "form-control" })
                </div>

            </div>
            <div class="col-sm-4 col-md-4 col-lg-2" id="Employee">
                <label class="control-label">Employee</label>
                <div class="">
                    @Html.DropDownListFor(m => m.UserName, Model.EmpolyeeList, "--Select Emoloyee--", new { @id = "ddlEmployee", @class = "form-control" })
                </div>

            </div>

            <button class=" btn-info" id="go" style="height:58px;width:58px;margin:20px;padding:20px;">Go</button>

        </div>

        <div id="userDetail"></div>


        <br />

        <form id="form">


            <div class="panel-body">
                <div class="row">

                    @Html.HiddenFor(m => m.HostelName, new { @id = "HostelName" })
                    @Html.HiddenFor(m => m.RoomNo, new { @id = "RoomNo" })
                    @Html.HiddenFor(m => m.HostelType, new { @id = "HostelType" })

                    <div class="col-sm-4 col-md-4 col-lg-2" id="">
                        <label class="control-label">PayMaode</label>
                        <div class="">
                            @Html.DropDownListFor(m => m.ModeOfPay, Model.ModeOfPayList, "--Select Mode--", new { @id = "ddlpaymode", @class = "form-control" })
                        </div>

                    </div>


                    <div class="col-sm-4 col-md-4 col-lg-2" id="Bankname" style="display: none">
                        <label class="control-label">BankName</label>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.BankName, new { @id = "BankName", @class = "form-control", @placeholder = "Remark*" })
                        </div>

                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-2" id="ChequeNo" style="display: none">
                        <label class="control-label">ChequeNo</label>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.ChequeNo, new { @id = "ChequeNo", @class = "form-control", @placeholder = "Remark*" })
                        </div>

                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-2" id="ChequeDate" style="display: none">
                        <label class="control-label">ChequeDate</label>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.CheaqueDate, new { @id = "ChequeDate", @class = "form-control", @placeholder = "Remark*" })
                        </div>


                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2" id="recipt">
                        <label class="control-label">Do u want to ricipt</label>
                        <div class="form-group">

                            <input type="checkbox" id="ricipt" class="form-control" checked="checked" />
                        </div>

                    </div>

















                    <div class="col-sm-4 col-md-4 col-lg-2" id="">
                        <label class="control-label">Amount</label>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Amount, new { @id = "Amount", @class = "form-control", @placeholder = "Amount*" })
                        </div>

                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-2" id="recipt">
                        <label class="control-label">Fine</label>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Fine, new { @id = "VisitDate", @class = "form-control", @placeholder = "VisitDate*" })
                        </div>


                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-2" id="recipt">
                        <label class="control-label"> DisCount</label>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Discount, new { @id = "VisitTime", @class = "form-control", @placeholder = "VisitTime*" })
                        </div>


                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-2" id="recipt">
                        <label class="control-label"> Remark</label>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Remark, new { @id = "Remark", @class = "form-control", @placeholder = "Remark*" })
                        </div>


                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2" id="recipt">
                        <label class="control-label"> ReciptNo</label>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.ReciptNo, new { @id = "ReciptNo", @class = "form-control", @placeholder = "ReciptNo*" })
                        </div>


                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-2" id="recipt">
                        <label class="control-label"> TotalAmount</label>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.TotalAmount, new { @id = "VisitTime", @class = "form-control", @placeholder = "VisitTime*" })
                        </div>


                    </div>









                </div>
            </div>
            <button class=" btn btn-info" id="SaveStudentRecord">MakePay</button>
        </form>



    </div>



</div>











<script>

    $(document).ready(function (e) {

        $('#SaveStudentRecord').click(function (e) {
            e.preventDefault();
            // if ($("#form").valid()) {
            var formData = new FormData($("#form")[0]);
            //var url = "../Account/Register";

            var url = "/HostelFeesCollection/SaveDataInDatabase";
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                success: function (data) {
                    alert("Success!..");
                    window.location.href = "/HostelFeesCollection/Index";
                  //  $("#MyModal").modal("hide");
                },
                cache: false,
                contentType: false,
                processData: false
            });
            //}
        });

    });


</script>




<script type="text/javascript">
    $(document).ready(function () {
        $("#Employee").hide();
        $("#Student").hide();

        $("#DropdwnUserType").change(function () {

            var v = $('#DropdwnUserType').val();
           alert(v);

            if (v == 'Employee') {
                $("#Employee").show();


            }
            else {
                $("#Employee").hide();


            }



            if (v == 'Student') {
                $("#Student").show();


            }
            else {
                $("#Student").hide();


            }




        });
    });
</script>



<script type="text/javascript">
    $(document).ready(function () {
        $('#go').click(function () {
            alert("okk");
            var prefix = $("#ddluser").val();
            var prefix1 = $("#DropdwnUserType").val();

            alert(prefix);
            $("#UserName").val(prefix);
            $("#UserType").val(prefix);
          //  $("#ddlEmployee").val(prefix)
            $.ajax({
                url: '/HostelVisitor/SearchData',
                type: "GET",
                dataType: "json",
                data: { prefix: prefix },
                success: function (Data) {
                    alert(Data[0]['HostelName']);
                   // alert(Data.HostelName);
                    //  ("#userDetail").append("Username : " + Data[0]['HostelName'] + "<br />");
                    var len = Data.length;
                    $("#userDetail").empty();
                    if (len > 0) {
                        var HostelName = Data[0]['HostelName'];

                        var HostelRoom = Data[0]['HostelRoom'];
                        var UsarName = Data[0]['UsarName'];
                        var HostelType = Data[0]['Hosteltype'];



                       $("#HostelName").val(HostelName);
                       $("#HostelType").val(HostelType);
                       $("#RoomNo").val(HostelRoom);
                        //$("#HostelName").val(HostelName);
                        // $("#HostelName").val(HostelName);
                      //  alert(UsarName);

                       var markup = "HostelName:" + HostelName + "<br />  HostelRoom:" + HostelRoom + "<br />User:" + UsarName + "<br/>";
                        $("#userDetail").append(markup);
                       // ("#userDetail").append("HostelName : " + HostelName + "<br />");
                      //  $("#userDetail").append("Email : " + email);
                    }

                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                    alert(status);
                    alert(error);
                }
            });

        });
    });

</script>





































<script type="text/javascript">
    $(document).ready(function () {


        $("#ddlpaymode").change(function () {

            var v = $('#ddlpaymode').val();
            // alert(v);

            if (v == 'Cheque') {
                $("#ChequeNo").show();
                $("#ChequeDate").show();
                $("#Bankname").show();
            }
            else {
                $("#ChequeNo").hide();
                $("#ChequeDate").hide();
                $("#Bankname").hide();
            }
        });
    });
</script>
