﻿
@model PacSchoolManagement.Models.CarryForwordViewModel
@{
    ViewBag.Title = "Leave";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}
@*<script src="~/Content/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/ModalCss/bootstrap.min.css" rel="stylesheet" />*@
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

<h2>CarryForword</h2>

<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-info" onclick="AddNewStudent(0)">Add Carry Forword</a> <br /><br />

    <table class="table table-striped">
        <thead>
            <tr>
                @*<th>Dept ID</th>*@
                <th>Sr.No</th>
                <th>Degitnation</th>

                <th>LeaveType</th>
                <th>Employee</th>
                <th>Counts</th>

                <th>Action(Edit)</th>
                <th>Action(Delete)</th>

            </tr>
        </thead>
        <tbody id="SetStudentList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>
    </table>

    @*Create A Popup Modal With Registration Form For Add Or Edit Student Record*@

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(m => m.LeaveCarryForwordId, new { @id = "LeaveCarryForwordId" })
                            <div class="" id="Employee">
                                <label class="control-label">Category Type</label>
                                <div class="">
                                    @Html.DropDownListFor(m => m.LeaveCategory, Model.LeaveCategoryList, "--Select Option--", new { @id = "ddltype", @class = "form-control" })
                                </div>

                            </div>
                            <div class="" id="Employee">
                                <label class="control-label">Desitnation</label>
                                <div class="">
                                    @Html.DropDownListFor(m => m.Desitnation, Model.DegitnationList, "--Select Option--", new { @id = "ddldesitnation", @class = "form-control" })
                                </div>

                            </div>
                            <div class="" id="Employee">
                                <label class="control-label">Employee</label>
                                <div class="">
                                    @Html.DropDownListFor(m => m.Employee, Model.EmployeeList, "--Select Option--", new { @id = "ddlEmp", @class = "form-control" })
                                </div>

                            </div>
                            <div class="" id="">
                                <label class="control-label">Count</label>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.LeaveCount, new { @id = "LeaveCount", @class = "form-control", @placeholder = "Count" })
                                </div>


                            </div>

                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="SaveStudentRecord">Save</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Create A PopUp Modal For DeleteConfirmation*@

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4>Delete</h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancel</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#LoadingStatus").html("Loading....");
    $.get("/CarryForwordDetail/GetStudentList", null, DataBind);
    function DataBind(StudentList) {
        var SetData = $("#SetStudentList");
        for (var i = 0; i < StudentList.length; i++) {
            var Data = "<tr class='row_" + StudentList[i].LeaveCarryForwordId + "'>" +
                  "<td>" + StudentList[i].LeaveCarryForwordId + "</td>" +
                "<td>" + StudentList[i].LeaveCategory + "</td>" +
                 "<td>" + StudentList[i].Desitnation + "</td>" +
                  "<td>" + StudentList[i].LeaveCount + "</td>" +
                  "<td>" + StudentList[i].Employee + "</td>" +

                "<td>" + "<a href='#' class='btn btn-warning' onclick='EditStudentRecord(" + StudentList[i].LeaveCarryForwordId + ")' ><i class='fas fa-edit'></i></a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteStudentRecord(" + StudentList[i].LeaveCarryForwordId + ")'><i class='fas fa-trash'></i></a>" + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingStatus").html(" ");

        }
    }

    //Show The Popup Modal For Add New Student

    function AddNewStudent(StudentId) {
        $("#form")[0].reset();
        //$("#StuId").val(0);
        //   $("#DropDwn option:selected").text("--Select Dept--");
        $("#ModalTitle").html("Add New Detail");
        $("#MyModal").modal();

    }

    ///Show The Popup Modal For Edit Student Record

    function EditStudentRecord(LeaveCarryForwordId) {
        var url = "/CarryForwordDetail/GetStudentById?StudentId=" + LeaveCarryForwordId;
        $("#ModalTitle").html("Update Detail Record");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#LeaveCarryForwordId").val(obj.LeaveCarryForwordId);
                $("#ddldesitnation").val(obj.Desitnation);
                $("#LeaveCount").val(obj.LeaveCount);
                $("#ddltype").val(obj.LeaveCategory);
                $("#ddlEmp").val(obj.Employee);

            }
        })
    }

    $("#SaveStudentRecord").click(function () {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/CarryForwordDetail/SaveDataInDatabase",
            data: data,
            success: function (result) {
                alert("Success!..");
                window.location.href = "/CarryForwordDetail/CarryForwordList";
                $("#MyModal").modal("hide");

            }
        })
    })

    //Show The Popup Modal For DeleteComfirmation
    var DeleteStudentRecord = function (LeaveCarryForwordId) {
        $("#LeaveCarryForwordId").val(LeaveCarryForwordId);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var StuId = $("#LeaveCarryForwordId").val();

        $.ajax({
            type: "POST",
            url: "/CarryForwordDetail/DeleteStudentRecord?StudentId="+StuId,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + StuId).remove();
            }
        })
    }
</script>

