﻿@model PacSchoolManagement.Models.AcademicsettingViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}

<div class="row">

    <div class="col-md-9">
        <div class="card">
            @*<div class="card-header p-2">
                <ul class="nav nav-pills">
                    @*<li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                    <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
            </div>*@<!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                  @using (Html.BeginForm("Index","AcademicCalender"))
{
                    <!-- /.tab-pane -->
                    <div class="active tab-pane" id="settings">
                      
                        <form class="form-horizontal">
                          
                            @Html.HiddenFor(m => m.Id)
                            @Html.HiddenFor(m => m.SessionId)
                            @Html.HiddenFor(m => m.SchoolId)
                          
                          
                           
                            <div class="form-group row">
                               
                            
                                <label for="inputSkills" class="col-sm-2 col-form-label">Start Date  </label> 
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.Startdate, new { @type = "date", @id = "datepicker", @class = "form-control" })
                                    @*<input type="text" class="form-control" id="inputSkills" placeholder="Skills">*@
                                </div>
                                <label for="inputSkills" class="col-sm-2 col-form-label">End Date </label> 
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.Sessionenddate, new { @type = "date", @id = "datepicker", @class = "form-control" })
                                    @*<input type="text" class="form-control" id="inputSkills" placeholder="Skills">*@
                                </div>
                            </div>
                         
                           
                          
                           
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                  }
                </div>
                <!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
</div>

<script>
    $(document).ready(function () {
        $(function () {
            $("#datepicker").datepicker();
        });
    });
</script>

