﻿@model PacSchoolManagement.Models.AddRatueViewModel
@{
    ViewBag.Title = "AddRauteList";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

    <h2>AddRauteList</h2>

<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-info flag-icon-co" onclick="AddNewStudent(0)">Add Route</a> <br /><br />

    <table class="table table-striped">
        <thead>
            <tr>

                <th>RootNo.</th>
                <th>Route Code</th>
                <th>VehicleNo No</th>

                <th>Route Start Place</th>


                @*<th>Route Stop Place</th>*@


                <th>Action(Edit)</th>
                <th>Action(Delete)</th>

            </tr>
        </thead>
        <tbody id="SetSchoolList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>
    </table>

    @*Create A Popup Modal With Registration Form For Add Or Edit Student Record*@

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm" enctype="multipart/form-data">
                            @Html.HiddenFor(m => m.RouteID, new { @id = "DriverId" })
                            @*<div class="form-group">
                                @Html.TextBoxFor(m => m.VehicleNo, new { @id = "VehicleNo", @class = "form-control", @placeholder = "VehicleNo*" })
                            </div>*@
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.VehicleNo, Model.VehicleList, "--Select VehicleNo--", new { @id = "DropDwnVehicleNo", @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.TextBoxFor(m => m.RouteCode, new { @id = "RouteCode", @class = "form-control", @placeholder = "RouteCode*" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.RouteStartPlace, new { @id = "RouteStartPlace", @class = "form-control", @placeholder = "RouteStartPlace*" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.RouteStopPlace, new { @id = "RouteStopPlace", @class = "form-control", @placeholder = "RouteStopPlace*" })
                            </div>
                            


                          

                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="SaveStudentRecord">Save</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Create A PopUp Modal For DeleteConfirmation*@

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4>Delete School Record</h4>
                </div>
                <div class="modal-body">
                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancle</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $("#LoadingStatus").html("Loading....");
    $.get("/AddRaute/GetPrinciList", null, DataBind);
    function DataBind(StudentList) {
        var SetData = $("#SetSchoolList");
        for (var i = 0; i < StudentList.length; i++) {
            var Data = "<tr class='row_" + StudentList[i].RouteID + "'>" +
                "<td>" + StudentList[i].VehicleNo + "</td>" +
                  "<td>" + StudentList[i].RouteCode + "</td>" +
                     "<td>" + StudentList[i].RouteStartPlace + "</td>" +

                  "<td>" + StudentList[i].RouteStopPlace + "</td>" +

             
                  //"<td>" + StudentList[i].MaximumAllowed + "</td>" +



                "<td>" + "<a href='#' class='btn btn-warning' onclick='EditStudentRecord(" + StudentList[i].RouteID + ")' ><i class='fas fa-edit'></i></a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteStudentRecord(" + StudentList[i].RouteID + ")'><i class='fas fa-trash'></i></a>" + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingStatus").html(" ");

        }
    }

    //Show The Popup Modal For Add New Student

    function AddNewStudent(StudentId) {
        $("#form")[0].reset();
        //$("#StuId").val(0);
        //   $("#DropDwn option:selected").text("--Select Dept--");
        $("#ModalTitle").html("Add New Transport");
        $("#MyModal").modal();

    }

    ///Show The Popup Modal For Edit Student Record

    function EditStudentRecord(RouteID) {
        var url = "/AddRaute/GetStudentById?StudentId=" + RouteID;
        $("#ModalTitle").html("Update Student Record");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#RouteID").val(obj.RouteID);
                $("#DropDwnVehicleNo").val(obj.VehicleNo);
                $("#RouteStartPlace").val(obj.RouteStartPlace);
                $("#RouteCode").val(obj.RouteCode);
                $("#RouteStopPlace").val(obj.RouteStopPlace);
                

            }
        })
    }




    //Show The Popup Modal For DeleteComfirmation
    var DeleteStudentRecord = function (RouteID) {
        $("#RouteID").val(RouteID);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var StuId = $("#RouteID").val();
        $.ajax({
            type: "POST",
            url: "/AddDriver/DeleteStudentRecord?StudentId=" + RouteID,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + StuId).remove();
            }
        })
    }
</script>

<script>

    $(document).ready(function (e) {

        $('#SaveStudentRecord').click(function (e) {
            e.preventDefault();
            // if ($("#form").valid()) {
            var formData = new FormData($("#form")[0]);
            //var url = "../Account/Register";
            var url = "/AddRaute/SaveDataInDatabase";
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                success: function (data) {
                    alert("Success!..");
                    window.location.href = "/AddRaute/AddRauteList";
                    $("#MyModal").modal("hide");
                },
                cache: false,
                contentType: false,
                processData: false
            });
            //}
        });

    });


</script>