﻿@model PacSchoolManagement.Models.LeaveApplicationViewModel
@{
    ViewBag.Title = "Leave";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}
@*<script src="~/Content/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/ModalCss/bootstrap.min.css" rel="stylesheet" />*@
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

<h2>Leave  Appliction</h2>

<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-info" onclick="AddNewStudent(0)">Add Application</a> <br /><br />

    <table class="table table-striped">
        <thead>
            <tr>
                @*<th>Dept ID</th>*@
                <th>Sr.No</th>
              

                <th>LeaveType</th>
                <th>Formdate</th>
                <th>Todate</th>
                <th>Status</th>

                <th>Action(Edit)</th>
                <th>Action(Delete)</th>

            </tr>
        </thead>
        <tbody id="SetStudentList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>
    </table>

    @*Create A Popup Modal With Registration Form For Add Or Edit Student Record*@

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(m => m.ApplicatId, new { @id = "ApplicatId" })
                            <div class="col-sm-4 col-md-4 col-lg-2">
                                <label class="control-label"> Apply For On Duty
                            </label>
                                <input type="checkbox" name="appduty" id=" CarryStatus" class=" " checked="checked" />


                            </div>



                            <div class="" id="Employee">
                                <label class="control-label">Category Type</label>
                                <div class="">
                                    @Html.DropDownListFor(m => m.LeaveType, Model.LeaveCategoryList, "--Select Option--", new { @id = "ddltype", @class = "form-control" })
                                </div>

                            </div>
                            <div class="" id="Employee">
                                <label class="control-label">FormDate</label>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.FormDate, new { @id = "FormDate", @class = "form-control", @type = "Date", @placeholder = "ToDate" })
                                </div>
                            </div>
                            <div class="" id="Employee">
                                <label class="control-label">ToDate</label>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.ToDate, new { @id = "ToDate", @type = "Date", @class = "form-control", @placeholder = "Count" })
                                </div>

                            </div>
                            <div class="" id="">
                                <label class="control-label">Reason</label>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Reason, new { @id = "Reason", @class = "form-control",@type="TextArea", @placeholder = "Reason" })
                                </div>


                            </div>

                            <div class="" id="Employee">
                                <label class="control-label">Status</label>
                                <div class="">
                                    @Html.DropDownListFor(m => m.Status, Model.LeaveStatusList, "--Select Option--", new { @id = "ddlstatus", @class = "form-control" })
                                </div>

                            </div>




                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="SaveStudentRecord">Save</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Create A PopUp Modal For DeleteConfirmation*@

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4>Delete</h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancel</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#LoadingStatus").html("Loading....");
    $.get("/LeaveApplication/GetStudentList", null, DataBind);
    function DataBind(StudentList) {
        var SetData = $("#SetStudentList");
        for (var i = 0; i < StudentList.length; i++) {
            var Data = "<tr class='row_" + StudentList[i].ApplicatId + "'>" +
                  "<td>" + StudentList[i].ApplicatId + "</td>" +
                "<td>" + StudentList[i].LeaveType + "</td>" +
                 "<td>" + StudentList[i].FormDate + "</td>" +
                  "<td>" + StudentList[i].ToDate + "</td>" +
                  "<td>" + StudentList[i].Status + "</td>" +

                "<td>" + "<a href='#' class='btn btn-warning' onclick='EditStudentRecord(" + StudentList[i].ApplicatId + ")' ><i class='fas fa-edit'></i></a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteStudentRecord(" + StudentList[i].ApplicatId + ")'><i class='fas fa-trash'></i></a>" + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingStatus").html(" ");

        }
    }

    //Show The Popup Modal For Add New Student

    function AddNewStudent(StudentId) {
        $("#form")[0].reset();
        //$("#StuId").val(0);
        //   $("#DropDwn option:selected").text("--Select Dept--");
        $("#ModalTitle").html("Add New Detail");
        $("#MyModal").modal();

    }

    ///Show The Popup Modal For Edit Student Record

    function EditStudentRecord(ApplicatId) {
        var url = "/LeaveApplication/GetStudentById?StudentId=" + ApplicatId;
        $("#ModalTitle").html("Update Detail Record");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#ApplicatId").val(obj.ApplicatId);
                $("#FormDate").val(obj.FormDate);
                $("#ToDate").val(obj.ToDate);
                $("#ddltype").val(obj.LeaveType);
                $("#ddlstatus").val(obj.Status);

            }
        })
    }

    $("#SaveStudentRecord").click(function () {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/LeaveApplication/SaveDataInDatabase",
            data: data,
            success: function (result) {
                alert("Success!..");
                window.location.href = "/LeaveApplication/ApplicationList";
                $("#MyModal").modal("hide");

            }
        })
    })

    //Show The Popup Modal For DeleteComfirmation
    var DeleteStudentRecord = function (ApplicatId) {
        $("#ApplicatId").val(ApplicatId);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var StuId = $("#ApplicatId").val();

        $.ajax({
            type: "POST",
            url: "/LeaveApplication/DeleteStudentRecord?StudentId="+StuId,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + StuId).remove();
            }
        })
    }
</script>

