﻿
@model IEnumerable<PacSchoolManagement.Models.LeaveApplicationViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}

<h2>Index</h2>




<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>






<div class="card">
    <div class="card-header">
        <h3 class="card-title">On Duty List</h3>

    </div>


    <div class="card-body" id="UpdatePanel">

        <div class="">

            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>SR.No</th>
                        <th>Leave Type</th>
                        <th>FormDate </th>
                        <th>Todate</th>
                        <th>Status </th>
                        <th>On Duty </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.ApplicatId</td>
                            <td>@user.LeaveType</td>
                            <td>@user.FormDate</td>
                            <td>@user.ToDate</td>
                            <td>@user.Status</td>
                            <td>@user.appduty</td>
                            @*<td>@user.RoomNo</td>*@

                            @*<td>@user.UserName</td>*@
                            @*<td>@user.DoorNo</td>*@


                        </tr>
                    }
                </tbody>
            </table>
        </div>


     





    </div>


</div>


<script>

    $('#example1').DataTable({
        "paging": true,

        "searching": true,
        "ordering": false,
        "info": true,
        "autoWidth": false,
    });
</script>













