﻿
@model IEnumerable<PacSchoolManagement.Models.HostelTransferViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}

<h2>Index</h2>




<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>






<div class="card">
    <div class="card-header">
        <h3 class="card-title">RegisterList</h3>

    </div>
    <div class="btn-group  m-t-15" style="position: absolute; right: 35%;padding-bottom:10%">

        <a href="javascript:void(0)" onclick="window.location.href = '/HostelTransferList/HostelTransfer'" class="btn btn-custon-four btn-success" id="target" title="Create"><i class="fa fa-plus"></i> AddTransfer</a>
    </div>


    <div class="card-body">

        <div class="">

            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>SR.No</th>
                        <th>Status</th>
                        <th>HostalName</th>
                        <th>HostalType</th>
                        <th>RoomNo</th>

                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.TransferId</td>
                            <td>@user.Status</td>
                            <td>@user.HostelType</td>
                            <td>@user.HostelName</td>
                            <td>@user.HostelRoom</td>

                            @*<td>@user.UserName</td>*@
                            @*<td>@user.DoorNo</td>*@

                            <td>
                                <a href="@Url.Action("EditRegister", "HostelTransfer", new { @txtval = @user.TransferId})" class="edit-row btn btn-success" title="edit"><i class="fa fa-pencil"></i>edit</a>
                                <a href="@Url.Action("Delete", "HostelTransfer", new { @txtval = @user.TransferId })" class="edit-row" title="cancel"><i class="fa fa-trash"></i>Delete</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>










    </div>


</div>


<script>

    $('#example1').DataTable({
        "paging": true,

        "searching": true,
        "ordering": false,
        "info": true,
        "autoWidth": false,
    });
</script>











