﻿@model PacSchoolManagement.Models.LoginViewModel 

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    
  }
<link href="~/Content/login.css" rel="stylesheet" />

          @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal m-t-20", role = "form" }))
    {
              @Html.AntiForgeryToken()
         @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
              
                    <div class="input-group mb-3">
                       
                            @Html.DropDownListFor(m => m.Usertype, Model.UserTypeList, "--Select Role--", new { @class = "fadeIn First dropdown", @id = "DropDwnSchoolId"})
                        @*@Html.ValidationMessageFor(m => m.Usertype, "", new { @class = "text-danger" })*@
                    @*@Html.ValidationMessageFor(m => m.Username)*@
                    @*<div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>*@
                </div>

              
              
              
                    @Html.TextBoxFor(m => m.Username, new {@class="fadeIn second" ,name="login" , placeholder = "Username" })
                    @*@Html.ValidationMessageFor(m => m.Username)*@
               @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })

             
                    @Html.PasswordFor(m => m.Password, new { @class = "fadeIn third", id = "password", name = "login", placeholder = "Password" })
                  @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
            
                @*<div class="row">
                   
                    <!-- /.col -->
                    <div class="col-4">
                       
                        <button class="fadeIn fourth" value="Log In" type="submit">Log In</button>
                       
                    </div>
                    <!-- /.col -->
                </div>*@
    <div id="formFooter" >
        <input type="submit" class="fadeIn fourth" value="Log In">
       

    </div>
    }
     
            <!-- /.social-auth-links -->
           