﻿@model PacSchoolManagement.Models.HostelVisitorViewModel
@{
    ViewBag.Title = "HostelVisitorList";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>






<div class="card card-warning">

    <!-- /.card-header -->
    <div class="card-body">
        <h3 style="text-align:center;"> HostelVisitorList</h3>

        <br/>


        <div class="row">

            <div class="col-sm-4 col-md-4 col-lg-2" id="ddlMode">
                <label class="control-label">UserType</label>
                <div class="">
                    @Html.DropDownListFor(m => m.UserType, Model.UserTypeList, "--Select User Type-", new { @id = "DropdwnUserType", @class = "form-control" })
                </div>

            </div>


            <div class="col-sm-4 col-md-4 col-lg-2" id="Student">
                <label class="control-label">StudentList</label>
                <div class="">
                    @Html.DropDownListFor(m => m.UserName, Model.StudentList, "--Select Student--", new { @id = "ddluser", @class = "form-control" })
                </div>

            </div>
            <div class="col-sm-4 col-md-4 col-lg-2" id="Employee">
                <label class="control-label">Employee</label>
                <div class="">
                    @Html.DropDownListFor(m => m.UserName, Model.EmpolyeeList, "--Select Emoloyee--", new { @id = "ddlEmployee", @class = "form-control" })
                </div>

            </div>

            <button class=" btn-info" id="go" style="height:58px;width:58px;margin:20px;padding:20px;" >Go</button>

        </div>

        <div id="userDetail"></div>


        <br />

        <form id="form">
        

            <div class="panel-body">
                <div class="row">

                    @Html.HiddenFor(m => m.HostelName, new { @id = "HostelName" })
                    @Html.HiddenFor(m => m.Hosteltype, new { @id = "Hosteltype" })

            





                    <div class="col-sm-4 col-md-4 col-lg-2" id="">
                        <label class="control-label">VisitorName</label>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.VisitorName, new { @id = "VisitorName", @class = "form-control", @placeholder = "VisitorName*" })
                        </div>


                    </div>



                    <div class="col-sm-4 col-md-4 col-lg-2" id="">
                        <label class="control-label">Relation</label>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Relation, new { @id = "Relation", @class = "form-control", @placeholder = "Relation*" })
                        </div>

                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-2" id="recipt">
                        <label class="control-label">Date</label>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.VisitDate, new { @id = "VisitDate", @class = "form-control", @placeholder = "VisitDate*" })
                        </div>


                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-2" id="recipt">
                        <label class="control-label"> Time</label>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.VisitTime, new { @id = "VisitTime", @class = "form-control", @placeholder = "VisitTime*" })
                        </div>


                    </div>


                </div>
            </div>
            <button class=" btn btn-info" id="SaveStudentRecord">Add Visitor</button>
            </form>
       


</div>



</div>











<script>

    $(document).ready(function (e) {

        $('#SaveStudentRecord').click(function (e) {
            e.preventDefault();
            // if ($("#form").valid()) {
            var formData = new FormData($("#form")[0]);
            //var url = "../Account/Register";

            var url = "/HostelVisitor/SaveDataInDatabase";
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                success: function (data) {
                    alert("Success!..");
                    window.location.href = "/HostelVisitor/Index";
                  //  $("#MyModal").modal("hide");
                },
                cache: false,
                contentType: false,
                processData: false
            });
            //}
        });

    });


</script>




<script type="text/javascript">
    $(document).ready(function () {
        $("#Employee").hide();
        $("#Student").hide();

        $("#DropdwnUserType").change(function () {

            var v = $('#DropdwnUserType').val();
        //   alert(v);

            if (v == 'Employee') {
                $("#Employee").show();


            }
            else {
                $("#Employee").hide();


            }



            if (v == 'Student') {
                $("#Student").show();


            }
            else {
                $("#Student").hide();


            }




        });
    });
</script>



<script type="text/javascript">
    $(document).ready(function () {
        $('#go').click(function () {
            alert("okk");
            var prefix = $("#ddluser").val();
          //  alert(prefix);
            $("#ddluser").val(prefix)
            $("#ddlEmployee").val(prefix)
            $.ajax({
                url: '/HostelVisitor/SearchData',
                type: "GET",
                dataType: "json",
                data: { prefix: prefix },
                success: function (Data) {
                 //   alert(Data[0]['HostelName']);
                   // alert(Data.HostelName);
                    //  ("#userDetail").append("Username : " + Data[0]['HostelName'] + "<br />");
                    var len = Data.length;
                    $("#userDetail").empty();
                    if (len > 0) {
                        var HostelName = Data[0]['HostelName'];
                        
                        var HostelRoom = Data[0]['HostelRoom'];
                        var UsarName = Data[0]['UsarName'];
                        var HostelType = Data[0]['Hosteltype'];
                        


                       $("#HostelName").val(HostelName);
                       $("#Hosteltype").val(HostelType);
                        //$("#RoomNo").val(RoomNo);
                        //$("#HostelName").val(HostelName);
                        // $("#HostelName").val(HostelName);
                      //  alert(UsarName);

                        var markup = "HostelName:" + HostelName + "<br />  HostelRoom:" + HostelName + "<br />User:" + UsarName + "<br/>";
                        $("#userDetail").append(markup);
                       // ("#userDetail").append("HostelName : " + HostelName + "<br />");
                      //  $("#userDetail").append("Email : " + email);
                    }

                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                    alert(status);
                    alert(error);
                }
            });

        });
    });

</script>





































