﻿@model PacSchoolManagement.Models.ReturnBookViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

<h2></h2>

<h2> ReturnBook</h2>
<table style=" margin-right:50px; align-content:center;">
    <tr>
        <td>
            Search : <input type="text" id="txtSearch" placeholder="search as bookId/ No/Name " /> <input type="button" value="Search" id="btnSearch" />

        </td>
    </tr>
    <tr>
        <td>
            <div id="UpdatePanel">

            </div>
        </td>
    </tr>
</table>

<div class="card card-warning" style="margin-top:20px;">

    <!-- /.card-header -->
    <div class="card-body">
        <h3 style="text-align:center;">Return Book </h3>
        @using (Html.BeginForm("Edit", "ReturnBook", FormMethod.Post, new { id = "frmCreate", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           @Html.HiddenFor(m => m.BookofId, new { @id = "", })

            <div class="panel-body">
                <h3 style="color:red">@ViewBag.warning</h3>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-2" id="ddltype">
                        <label class="control-label">Select User Type</label>
                        <div class="">
                            @Html.DropDownListFor(m => m.Status, Model.BookStatusList, "--Select Type-", new { @id = "DropdwnType", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2" id="usrname">
                        <label class="control-label">UserName</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.UserName, new { @id = "UserName", @class = "form-control", @placeholder = "UserName", })
                        </div>

                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2" id="rtndate">
                        <label class="control-label">Return Date</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReturnDate, new { @id = "ReturnDate", @class = "form-control", @placeholder = "ReturnDate", type = "Date" })
                        </div>

                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2" id="Fa">
                        <label class="control-label">FineAmount</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.FineAmount, new { @id = "ReturnDate", @class = "form-control", @placeholder = "ReturnDate", })
                        </div>

                    </div>


                    <div class="col-sm-4 col-md-4 col-lg-2" id="Rm">
                        <label class="control-label">Remark</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.Remark, new { @id = "Remark", @class = "form-control", @placeholder = "Remark*", })
                        </div>


                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-2" id="Bookno">
                        <label class="control-label">BooKNo</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.BookNo, new { @id = "BookNo", @class = "form-control", @placeholder = "BookNo*", })
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2" id="bname">
                        <label class="control-label">BooKName</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.BookName, new { @id = "BookName", @class = "form-control", @placeholder = "BookName", })
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 m-t-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                        <button type="reset" class="btn btn-default" onclick=" window.location.href = '/ReturnBook/Index'">ReturnBookList</button>

                    </div>
                </div>



            </div>


        }

    </div>


    </div>





<script>
    $(document).ready(function () {

        // This is for Get All Data
        $("#btnAllUser").click(function () {

            $.ajax({
                url: "@Url.Action("SearchBook", "ReturnBook")",
                data: "",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    loadData(data);
                },
                error: function () {
                    alert("Failed! Please try again.");
                }
            });

        });

        // this will use for Get Data based on parameter
        $("#btnSearch").click(function () {
            $.ajax({
                url: "@Url.Action("SearchBook", "ReturnBook")",
                data: { prefix: $('#txtSearch').val() },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    loadData(data);
                },
                error: function () {
                    alert("Failed! Please try again.");
                }
            });
        });

        function loadData(data) {
            // Here we will format & load/show data
            var tab = $('<table class="myTable table table-bordered table-striped"></table>');
            var thead = $('<thead></thead>');
            thead.append('<th>BookID</th>');
            thead.append('<th>BookNo</th>');
            thead.append('<th>Book Title</th>');
            thead.append('<th>Publish</th>');
            thead.append('<th>Author </th>');
            // thead.append('<th>Is Active</th>');

            tab.append(thead);
            $.each(data, function (i, val) {
                // Append database data here
                var trow = $('<tr></tr>');
                trow.append('<td>' + val.BookID + '</td>');
                trow.append('<td>' + val.BookNo + '</td>');
                trow.append('<td>' + val.Title + '</td>');
                trow.append('<td>' + val.Edition + '</td>');
                trow.append('<td>' + val.Author + '</td>');
                tab.append(trow);
            });
            $("tr:odd", tab).css('background-color', '#C4C4C4');
            $("#UpdatePanel").html(tab);
        };

    });
</script>