﻿@model PacSchoolManagement.Models.StudentAdmissionViewModel
@{
    ViewBag.Title = "Class";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}
@*<script src="~/Content/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/ModalCss/bootstrap.min.css" rel="stylesheet" />*@
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

<h2>StudentAddmission</h2>

<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-info" onclick="AddNewStudent(0)">Add New Admission Detail</a> <br /><br />

    <table class="table table-striped">
        <thead>
            <tr>

                <th>Name</th>
                <th>Fathers Name</th>
                <th>Class</th>
                <th>Session</th>
                <th>MobileNo</th>
                <th>Status</th>

                <th>Action(Edit)</th>
                <th>Action(Delete)</th>

            </tr>
        </thead>
        <tbody id="SetStudentList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>
    </table>

    @*Create A Popup Modal With Registration Form For Add Or Edit Student Record*@

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(m => m.AddmissionID, new { @id = "StuId" })
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "form-control", @placeholder = "Name*" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.FatherName, new { @id = "FatherName", @class = "form-control", @placeholder = "FatherName*" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.DateofBirth, new { @id = "DateofBirth", @class = "form-control", @placeholder = "DateofBirth*" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Gender, new { @id = "Gender", @class = "form-control", @placeholder = "Gender*" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.MobileNo, new { @id = "MobileNo", @class = "form-control", @placeholder = "MobileNo*" })
                            </div>
                            <div class="form-group">
                                @*@ Html.TextBoxFor(m => m.Class, new { @id = "Class", @class = "form-control", @placeholder = "Class*" })*@
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.AppliedDate, new { @id = "AppliedDate", @class = "form-control", @placeholder = "AppliedDate*" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Status, new { @id = "Status", @class = "form-control", @placeholder = "Status*" })
                            </div>

                            <div class="form-group">
                                @*@Html.DropDownListFor(m => m.ClassID, ViewBag.ListOfDepartment as SelectList, "--Select Dept--", new { @id = "DropDwn", @class = "form-control" })*@
                            </div>
                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="SaveStudentRecord">Save</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Create A PopUp Modal For DeleteConfirmation*@

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4>Delete Record</h4>
                </div>
                <div class="modal-body">
                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancle</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#LoadingStatus").html("Loading....");
    $.get("/StudentAdmission/GetStudentList", null, DataBind);
    function DataBind(StudentList) {
        var SetData = $("#SetStudentList");
        for (var i = 0; i < StudentList.length; i++) {
            var Data = "<tr class='row_" + StudentList[i].Name + "'>" +
                "<td>" + StudentList[i].FatherName + "</td>" +
                "<td>" + StudentList[i].DateofBirth + "</td>" +
                "<td>" + StudentList[i].Gender + "</td>" +
                "<td>" + StudentList[i].MobileNo + "</td>" +
                   "<td>" + StudentList[i].Class + "</td>" +
                    "<td>" + StudentList[i].Gender + "</td>" +
                "<td>" + "<a href='#' class='btn btn-warning' onclick='EditStudentRecord(" + StudentList[i].AddmissionID + ")' ><i class='fas fa-edit'></i></a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteStudentRecord(" + StudentList[i].AddmissionID + ")'><i class='fas fa-trash'></i></a>" + "</td>" +
                //"<td>" + "<a href='#', class='btn btn-danger' onclick='StudentIdCard(" + StudentList[i].AddmissionID + ")'><i class='fas fa-trash'></i>id</a>" + "</td>" +

                "</tr>";
            SetData.append(Data);
            $("#LoadingStatus").html(" ");

        }
    }

    //Show The Popup Modal For Add New Student

    function AddNewStudent(StudentId) {
        $("#form")[0].reset();
        //$("#StuId").val(0);
        //   $("#DropDwn option:selected").text("--Select Dept--");
        $("#ModalTitle").html("Add New Student");
        $("#MyModal").modal();

    }

    ///Show The Popup Modal For Edit Student Record

    function EditStudentRecord(AddmissionID) {
        var url = "/StudentAdmission/GetStudentById?StudentId=" + AddmissionID;
        $("#ModalTitle").html("Update Student Record");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#StuId").val(obj.AddmissionID);
                $("#Name").val(obj.Name);
                $("#FatherName").val(obj.FatherName);
                $("#DateofBirth").val(obj.DateofBirth);
                $("#Gender").val(obj.Gender);
                $("#Class").val(obj.Class);
                $("#AppliedDate").val(obj.AppliedDate);

            }
        })
    }

    $("#SaveStudentRecord").click(function () {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/StudentAdmission/SaveDataInDatabase",
            data: data,
            success: function (result) {
                alert("Success!..");
                window.location.href = "/StudentAdmission/StudentAdmission";
                $("#MyModal").modal("hide");

            }
        })
    })

    //Show The Popup Modal For DeleteComfirmation
    var DeleteStudentRecord = function (AddmissionID) {
        $("#StuId").val(AddmissionID);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var StuId = $("#StuId").val();
        alert(StuId);
        $.ajax({
            type: "POST",
            url: "/StudentAdmission/DeleteStudentRecord?StudentId=" + StuId,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + StuId).remove();
            }
        })
    }
</script>

<style>
    .input {
        border: none;
        background-color: transparent;
    }

    .table {
        border: none;
        background-color: transparent;
    }

    tr {
        margin-left: auto;
        margin-right: auto;
        height: 10px;
    }
</style>
<div class="modal fade" id="MyModal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal11">&times;</a>
                <h4 id="ModalTitle">Student Id Card</h4>
            </div>
            <div class="modal-body" id="nonPrintable">
                <h2 style="text-align:center">Student ID Card</h2>
                <table class="table table-responsive table-bordered" style="margin-left:auto;margin-right:auto;">
                    <tr>
                        <td> Name</td>
                        <td>
                            @Html.TextBoxFor(m => m.Name, new { @id = "Name1", @class = "form-control input", @placeholder = "FatherName*" })

                        </td>
                    </tr>
                    <tr>
                        <td>Fahter Name</td>
                        <td>
                            @Html.TextBoxFor(m => m.FatherName, new { @id = "FatherName1", @class = "form-control input", @placeholder = "FatherName*" })

                        </td>
                    </tr>
                    <tr>
                        <td>DateofBirth</td>
                        <td>
                            @Html.TextBoxFor(m => m.DateofBirth, new { @id = "DateofBirth1", @class = "form-control input", @placeholder = "DateofBirth*" })

                        </td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>

                            @Html.TextBoxFor(m => m.Gender, new { @id = "Gender1", @class = "form-control input", @placeholder = "Gender*" })
                        </td>
                    </tr>
                    <tr>
                        <td>MobileNo</td>
                        <td>
                            @Html.TextBoxFor(m => m.MobileNo, new { @id = "MobileNo1", @class = "form-control input", @placeholder = "MobileNo*" })

                        </td>
                    </tr>
                    <tr>
                        <td>Class</td>
                        <td>
                            @Html.TextBoxFor(m => m.Class, new { @id = "Class1", @class = "form-control input", @placeholder = "Class*" })
                    </tr>
                    <tr>
                        <td>AppliedDate</td>
                        <td>
                            @Html.TextBoxFor(m => m.AppliedDate, new { @id = "AppliedDate1", @class = "form-control input", @placeholder = "AppliedDate*" })
                        </td>
                    </tr>
                    <tr>
                        <td>Stutus</td>
                        <td>
                            @Html.TextBoxFor(m => m.Status, new { @id = "Status1", @class = "form-control input", @placeholder = "Status*" })
                        </td>
                    </tr>
                </table>


            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button id="btnPrint" type="button" onclick="functionPrint()" class="btn btn-default">Print</button>
            </div>

        </div>
        <!-- Modal Content: ends -->


    </div>
</div>




<script>


    ///Show The Popup Modal For Edit Student Record

    function StudentIdCard(AddmissionID) {
        // alert(AddmissionID);
        var url = "/StudentAdmission/GetStudentIdCard?StudentId=" + AddmissionID;
        $("#ModalTitle").html("IDcard");
        $("#MyModal1").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#StuId1").val(obj.AddmissionID);
                $("#Name1").val(obj.Name);
                $("#FatherName1").val(obj.FatherName);
                $("#DateofBirth1").val(obj.DateofBirth);
                $("#Gender1").val(obj.Gender);
                $("#Class1").val(obj.Class);
                $("#AppliedDate1").val(obj.AppliedDate);


            }
        })
    }



</script>


<script>
    function functionPrint() {
        $('#nonPrintable').addClass('noPrint');
        window.print();
    }
</script>

