﻿@model PacSchoolManagement.Models.SchoolViewModel
  @{ ViewBag.Title = "School";
   Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Content/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/ModalCss/bootstrap.min.css" rel="stylesheet" />*@
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
@*<script   src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"></script>*@

<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-info flag-icon-co" onclick="AddNewStudent(0)">Add School</a> <br /><br />

    <table class="table table-striped">
        <thead>
            <tr>
                @*<th>School ID</th>*@
                <th>School Name</th>
                <th>SchoolCode</th>
                @*<th>Address</th>*@
                @*<th>PinCode</th>*@
                <th>ContactNo</th>
                @*<th>Logo</th>*@
              
                <th>Action(Edit)</th>
                <th>Action(Delete)</th>

            </tr>
        </thead>
        <tbody id="SetSchoolList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>
    </table>

    @*Create A Popup Modal With Registration Form For Add Or Edit Student Record*@

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm" enctype="multipart/form-data">
                            @Html.HiddenFor(m => m.SchoolID, new { @id = "StuId" })
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.SchoolName, new { @id = "SchoolName", @class = "form-control", @placeholder = "SchoolName*" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.ContactNo, new { @id = "ContactNo", @class = "form-control", @placeholder = "Contact*" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Address, new { @id = "Address", @class = "form-control", @placeholder = "Address*" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.PinCode, new { @id = "PinCode", @class = "form-control", @placeholder = "PinCode*" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.City, new { @id = "City", @class = "form-control", @placeholder = "City*" })
                            </div>
                            @*<div class="form-group">
                                @*  @Html.TextBoxFor(m => m.ImageUpload, new { @id = "Logo", @class = "form-control", @placeholder = "Logo*" })*@
                                @*@Html.LabelFor(m => m.ImageUpload, "Upload Image", new { @class = "col-md-3 control-label" })
                                Logo<br />

                            </div>*@
                            @*<div class="form-group">
                                @Html.TextBoxFor(m => m.SchoolCode, new { @id = "SchoolCode", @class = "form-control", @placeholder = "SchoolCode*" })
                            </div>*@
                            <div class="form-group">
                                @*@Html.DropDownListFor(m => m.ClassID, ViewBag.ListOfDepartment as SelectList, "--Select Dept--", new { @id = "DropDwn", @class = "form-control" })*@
                            </div>
                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="SaveStudentRecord">Save</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Create A PopUp Modal For DeleteConfirmation*@

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4>Delete School Record</h4>
                </div>
                <div class="modal-body">
                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancle</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#LoadingStatus").html("Loading....");
    $.get("/School/GetStudentList", null, DataBind);
    function DataBind(StudentList) {
        var SetData = $("#SetSchoolList");
        for (var i = 0; i < StudentList.length; i++) {
            var Data = "<tr class='row_" + StudentList[i].SchoolID + "'>" +
                "<td>" + StudentList[i].SchoolName + "</td>" +
                  "<td>" + StudentList[i].SchoolCode + "</td>" +
                
                
                  "<td>" + StudentList[i].ContactNo + "</td>" +


                    "<td>" +'<img src="' + StudentList[i].Logo +'" width="100" height="100" alt="Path shi nhi"/>' + "</td>" +
                "<td>" + "<a href='#' class='btn btn-warning' onclick='EditStudentRecord(" + StudentList[i].SchoolID + ")' ><i class='fas fa-edit'></i></a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteStudentRecord(" + StudentList[i].SchoolID + ")'><i class='fas fa-trash'></i></a>" + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingStatus").html(" ");

        }
    }

    //Show The Popup Modal For Add New Student

    function AddNewStudent(StudentId) {
        $("#form")[0].reset();
        //$("#StuId").val(0);
     //   $("#DropDwn option:selected").text("--Select Dept--");
        $("#ModalTitle").html("Add New School");
        $("#MyModal").modal();

    }

    ///Show The Popup Modal For Edit Student Record

    function EditStudentRecord(SchoolID) {
        var url = "/School/GetStudentById?StudentId=" +SchoolID;
        $("#ModalTitle").html("Update Student Record");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#StuId").val(obj.SchoolID);
                $("#SchoolName").val(obj.SchoolName);
                $("#Address").val(obj.Address);
                $("#PinCode").val(obj.PinCode);
                $("#SchoolCode").val(obj.SchoolCode);
                $("#ContactNo").val(obj.ContactNo);
              //  $("#DropDwn option:selected").text(obj.tblDepartment.DepartmentName);
              //  $("#DropDwn option:selected").val(obj.DepartmentId);

            }
        })
    }

 
   

    //Show The Popup Modal For DeleteComfirmation
    var DeleteStudentRecord = function (StudentId) {
        $("#StuId").val(StudentId);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var StuId = $("#StuId").val();
        $.ajax({
            type: "POST",
            url: "/School/DeleteStudentRecord?StudentId=" + StuId,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + StuId).remove();
            }
        })
    }
</script>


<script>
    
    $(document).ready(function (e) {

    $('#SaveStudentRecord').click(function (e) {
        e.preventDefault();
       // if ($("#form").valid()) {
            var formData = new FormData($("#form")[0]);
            //var url = "../Account/Register";
            var url = "/School/SaveDataInDatabase";
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                success: function (data) {
                    alert("Success!..");
                    window.location.href = "/School/School";
                    $("#MyModal").modal("hide");
                },
                cache: false,
                contentType: false,
                processData: false
            });
        //}
    });

    });


</script>
