﻿@model PacSchoolManagement.Models.SchoolDetailViewModel
@{
    ViewBag.Title = "SchoolDetail";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}

<style>
    .btn-primary:hover {
        color: #fff;
        background-color: #d81b60;
        border-color:  #d81b60;
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #dc3545;
    }
    .card-primary.card-outline {
        border-top: 3px solid #dc3545;
    }
</style>
<h2>School Detail</h2>


<div class="row">
    <div class="card card-primary card-outline">
        <div class="card-body box-profile">
            <div class="text-center">
               
                <img class="profile-user-img img-fluid img-circle"
                     src="~/Content/logo.png"
                     alt="User profile picture">
            </div>
            <h3 class="profile-username text-center">@Filters.AuthenticationModel.GlobalUser.getGlobalUser().SchoolName</h3>
            @*<p class="text-muted text-center">Software Engineer</p>*@
            <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                    <b>City </b> <a class="float-right">@Model.City</a>
                </li>
                <li class="list-group-item">
                    <b>Contact</b> <a class="float-right">@Model.Mobile</a>
                </li>
                <li class="list-group-item">
                    <b>School Code</b> <a class="float-right">@Model.InstitutionCode</a>
                </li>
            </ul>
            @*<a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>*@
        </div>
        <!-- /.card-body -->
    </div>
    <div class="col-md-9">
        <div class="card">
            @*<div class="card-header p-2">
                <ul class="nav nav-pills">
                    @*<li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                    <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
            </div>*@<!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                  @using (Html.BeginForm("SchoolDetail","School"))
{
                    <!-- /.tab-pane -->
                    <div class="active tab-pane" id="settings">
                      
                        <form class="form-horizontal">
                            @Html.HiddenFor(m => m.SchoolDetID)
                            @Html.HiddenFor(m => m.SchoolId)
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Name, new {  @readonly = "true", @class = "form-control"})
                                    @*<input type="email" class="form-control" id="inputName" placeholder="Name">*@
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "form-control" })
                                   @* <input type="email" class="form-control" id="inputEmail" placeholder="Email">*@
                                </div>
                                <label for="inputSkills" class="col-sm-2 col-form-label">Fax</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.Fax, new { @type = "text", @class = "form-control" })
                                   @* <input type="text" class="form-control" id="inputSkills" placeholder="Fax">*@
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputName2" class="col-sm-2 col-form-label">Phone</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.Phone, new { @type = "text", @class = "form-control" })
                                  @*  <input type="text" class="form-control" id="inputName2" placeholder="Name">*@
                                </div>
                                <label for="inputSkills" class="col-sm-2 col-form-label">Mobile</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.Mobile, new { @type = "text", @class = "form-control" })
                                 @*   <input type="text" class="form-control" id="inputSkills" placeholder="Mobile">*@
                                </div>
                            </div>
                           
                            <div class="form-group row">
                               
                                <label for="inputSkills" class="col-sm-2 col-form-label">Land type</label>
                                <div class="col-sm-4">

                                    Owned
                                    @Html.RadioButtonFor(model => model.Landtype, "Owned")
                                    Rented
                                    @Html.RadioButtonFor(model => model.Landtype, "Rented")
                                    
                                  
                                </div>
                                <label for="inputSkills" class="col-sm-2 col-form-label">Open on</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.Openedon, new { @type = "date", @id = "datepicker", @class = "form-control" })
                                    @*<input type="text" class="form-control" id="inputSkills" placeholder="Skills">*@
                                </div>
                               
                            </div>
                         
                           
                            <div class="form-group row">
                                <label for="inputExperience" class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(m => m.Address, new { @type = "text", @class = "form-control" })
                                    @*<textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>*@
                                </div>
                            </div>
                           
                           
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                  }</div>
                <!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
</div>

<script>
    $(document).ready(function () {
        $(function () {
            $("#datepicker").datepicker();
        });
    });
</script>