﻿@helper LoadMenu(IEnumerable<Entities.Models.Menu> menuList, int parentId)
{
    <ul>
        @{
            var parentmenulist = menuList.Where(m => m.ParentId == parentId).ToList();
            for (int i = 0; i < parentmenulist.Count(); i++)
            {
                var menu = parentmenulist[i];
                var childern = menuList.Where(m => m.ParentId == menu.Id);
                var haschildren = childern.Count() > 0 ? true : false;


                if (haschildren)
                {
                    <li class="has_sub">
                        <a href="javascript:void(0)" class="waves-effect">
                            @(new HtmlString(parentId == 0 ? "<i class=\"" + menu.MenuClass + "\"></i>" : ""))
                            <span class="label label-primary pull-right">@childern.Count()</span>
                        <span>@menu.MenuName</span>
                    </a>
                    @LoadMenu(menuList, menu.Id)
                </li>
                }
                else
                {
                    <li><a class="waves-effect" href="@menu.Link"><span>@menu.MenuName</span></a></li>
                }
            }
        }
    </ul>
}


