﻿@helper LoadMenuTree(IEnumerable<Entities.Models.Menu> menuList, int parentId, string userRights)
{
    <ul>
        @{
            var parentmenulist = menuList.Where(m => m.ParentId == parentId).ToList();
            for (int i = 0; i < parentmenulist.Count(); i++)
            {
                var menu = parentmenulist[i];
                var childern = menuList.Where(m => m.ParentId == menu.Id);
                var haschildren = childern.Count() > 0 ? true : false;

                var userrightlist = userRights.Split(',');
                var ischecked = userrightlist.Contains(menu.Id.ToString()) ? "true" : "false";

                if (haschildren)
                {
                    <li item-checked='@(ischecked)' item-expanded='true' data-menu="@menu.Id">
                        @menu.MenuName
                        @LoadMenuTree(menuList, menu.Id, userRights)
                    </li>
                }
                else
                {
                    <li item-checked='@(ischecked)' data-menu="@menu.Id">
                        @menu.MenuName
                    </li>
                }
            }
        }

    </ul>
}