﻿@model PacSchoolManagement.Models.UserLoginViewModel

@{ ViewBag.Title = "User";
 Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Content/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/ModalCss/bootstrap.min.css" rel="stylesheet" />*@
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>


<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-info flag-icon-co" onclick="AddNewStudent(0)">Add User</a> <br /><br />

    <table class="table table-striped">
        <thead>
            <tr>
                @*<th>School ID</th>*@
                <th>User Name</th>
                <th>User Type</th>


                <th>Action(Edit)</th>
                <th>Action(Delete)</th>

            </tr>
        </thead>
        <tbody id="SetSchoolList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>
    </table>

    @*Create A Popup Modal With Registration Form For Add Or Edit Student Record*@

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(m => m.UserId, new { @id = "StuId" })
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Username, new { @id = "SchoolName", @class = "form-control", @placeholder = "UserName*" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @id = "ContactNo", @class = "form-control", @placeholder = "Password*" })
                            </div>

                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="SaveStudentRecord">Save</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Create A PopUp Modal For DeleteConfirmation*@

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4>Delete Record</h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancel</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#LoadingStatus").html("Loading....");
    $.get("/User/GetStudentList", null, DataBind);
    function DataBind(StudentList) {
        var SetData = $("#SetSchoolList");
        for (var i = 0; i < StudentList.length; i++) {
            var Data = "<tr class='row_" + StudentList[i].UserId + "'>" +
                "<td>" + StudentList[i].Username + "</td>" +
                "<td>" + StudentList[i].UserType + "</td>" +

                "<td>" + "<a href='#' class='btn btn-warning' onclick='EditStudentRecord(" + StudentList[i].UserId + ")' ><i class='fas fa-edit'></i></a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteStudentRecord(" + StudentList[i].UserId + ")'><i class='fas fa-trash'></i></a>" + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingStatus").html(" ");

        }
    }

    //Show The Popup Modal For Add New Student

    function AddNewStudent(StudentId) {
        $("#form")[0].reset();
        //$("#StuId").val(0);
        //   $("#DropDwn option:selected").text("--Select Dept--");
        $("#ModalTitle").html("Add New User");
        $("#MyModal").modal();

    }

    ///Show The Popup Modal For Edit Student Record

    function EditStudentRecord(SchoolID) {
        var url = "/User/GetStudentById?StudentId=" + SchoolID;
        $("#ModalTitle").html("Update Record");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#StuId").val(obj.UserId);
                $("#SchoolName").val(obj.UserName);
                $("#Address").val(obj.Password);


            }
        })
    }

    $("#SaveStudentRecord").click(function () {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/User/SaveDataInDatabase",
            data: data,
            success: function (result) {
                alert("Success!..");
                window.location.href = "/User/UserList";
                $("#MyModal").modal("hide");

            }
        })
    })

    //Show The Popup Modal For DeleteComfirmation
    var DeleteStudentRecord = function (StudentId) {
        $("#StuId").val(StudentId);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var StuId = $("#StuId").val();
        $.ajax({
            type: "POST",
            url: "/User/DeleteStudentRecord?StudentId=" + StuId,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + StuId).remove();
            }
        })
    }
</script>
