﻿@model PacSchoolManagement.Models.AssignTeacherViewModel
@{ ViewBag.Title = "Subject Teacher";
 Layout = "~/Views/Shared/_princiLayout.cshtml";
}
@*<script src="~/Content/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/ModalCss/bootstrap.min.css" rel="stylesheet" />*@
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
@*<script   src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"></script>*@

<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-info flag-icon-co" onclick="AddNewStudent(0)">Add Subject Teacher</a> <br /><br />

    <table class="table table-striped">
        <thead>
            <tr>
                @*<th>School ID</th>*@
                <th>Course Name</th>
                <th>Batch</th>
                <th>Class</th>
                <th>Subject</th>
                <th>Class Teacher </th>

                <th>Edit</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody id="SetSchoolList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>
    </table>
    @*Create A Popup Modal With Registration Form For Add Or Edit Student Record*@

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 id="ModalTitle"></h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm" enctype="multipart/form-data">
                            @Html.HiddenFor(m => m.AssignTeacherId, new { @id = "CourseId" })
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.CourseId, Model.CourseList, "--Select Course--", new { @class = "fadeIn First dropdown form-control", @id = "CourseId" })


                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.BatchId, Model.BatchList, "--Select Batch--", new { @class = "fadeIn First dropdown form-control", @id = "BatchId" })


                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.ClassId, Model.ClassList, "--Select Class--", new { @class = "fadeIn First dropdown form-control", @id = "ClassId" })


                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.TeacherId, Model.TeacherList, "--Select Teacher--", new { @class = "fadeIn First dropdown form-control", @id = "TeacherId" })


                            </div>



                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="SaveStudentRecord">Save</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @*Create A PopUp Modal For DeleteConfirmation*@

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Delete Record</h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>

                </div>
                <div class="modal-body">
                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancel</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#LoadingStatus").html("Loading....");
        $.get("/AssignTeacher/GetStudentList", null, DataBind);
        function DataBind(StudentList) {
            var SetData = $("#SetSchoolList");
            for (var i = 0; i < StudentList.length; i++) {
                var Data = "<tr class='row_" + StudentList[i].AssignTeacherId + "'>" +
                    "<td>" + StudentList[i].CourseId + "</td>" +
                      "<td>" + StudentList[i].BatchId + "</td>" +
                       "<td>" + StudentList[i].ClassId + "</td>" +
                        "<td>" + StudentList[i].TeacherId + "</td>" +

                    "<td>" + "<a href='#' class='btn btn-warning' onclick='EditStudentRecord(" + StudentList[i].AssignTeacherId + ")' ><i class='fas fa-edit'></i></a>" + "</td>" +
                    "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteStudentRecord(" + StudentList[i].AssignTeacherId + ")'><i class='fas fa-trash'></i></a>" + "</td>" +
                    "</tr>";
                SetData.append(Data);
                $("#LoadingStatus").html(" ");

            }
        }

        //Show The Popup Modal For Add New Student

        function AddNewStudent(StudentId) {
            $("#form")[0].reset();
            //$("#StuId").val(0);
            //   $("#DropDwn option:selected").text("--Select Dept--");
            $("#ModalTitle").html("Add New Course");
            $("#MyModal").modal();

        }

        ///Show The Popup Modal For Edit Student Record

        function EditStudentRecord(SchoolID) {
            var url = "/AssignTeacher/GetStudentById?StudentId=" + SchoolID;
            $("#ModalTitle").html("Update Record");
            $("#MyModal").modal();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    var obj = JSON.parse(data);
                    $("#CourseId").val(obj.CourseId);
                    $("#BatchId").val(obj.BatchId);
                    $("#ClassId").val(obj.ClassId);
                    $("#TeacherId").val(obj.TeacherId);

                    //  $("#DropDwn option:selected").text(obj.tblDepartment.DepartmentName);
                    //  $("#DropDwn option:selected").val(obj.DepartmentId);

                }
            })
        }

        function GetDetail(SchoolID) {
            var url = "/AssignTeacher/GetDetail?StudentId=" + SchoolID;
            $("#ModalTitle").html("Update Record");
            $("#MyModalDetail").modal();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    var obj = JSON.parse(data);
                    $("#CourseId").val(obj.CourseId);
                    $("#BatchId").val(obj.BatchId);
                    $("#ClassId").val(obj.ClassId);
                    $("#TeacherId").val(obj.TeacherId);
                    //  $("#DropDwn option:selected").text(obj.tblDepartment.DepartmentName);
                    //  $("#DropDwn option:selected").val(obj.DepartmentId);

                }
            })
        }


        //Show The Popup Modal For DeleteComfirmation
        var DeleteStudentRecord = function (StudentId) {
            $("#CourseId").val(StudentId);
            $("#DeleteConfirmation").modal("show");
        }
        var ConfirmDelete = function () {
            var StuId = $("#CourseId").val();
            $.ajax({
                type: "POST",
                url: "/AssignTeacher/DeleteStudentRecord?StudentId=" + StuId,
                success: function (result) {
                    $("#DeleteConfirmation").modal("hide");
                    $(".row_" + StuId).remove();
                }
            })
        }
    </script>


    <script>

        $(document).ready(function (e) {

            $('#SaveStudentRecord').click(function (e) {
                e.preventDefault();
                // if ($("#form").valid()) {
                var formData = new FormData($("#form")[0]);
                //var url = "../Account/Register";
                var url = "/AssignTeacher/SaveDataInDatabase";
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        alert("Success!..");
                        window.location.href = "/AssignTeacher/Index";
                        $("#MyModal").modal("hide");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
                //}
            });

        });


    </script>
