﻿@model PacSchoolManagement.Models.BookIssuedViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


<div class="card card-warning">

    <!-- /.card-header -->
    <div class="card-body">
        <h3 style="text-align:center;">EditBook </h3>
        @using (Html.BeginForm("Edit", "IssueBook", FormMethod.Post, new { id = "frmCreate", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
             @Html.HiddenFor(m => m.BookIssuedID, new { @id = "BookCategoryID" })
            <div class="panel-body">
                <h3 style="color:red">@ViewBag.warning</h3>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-2" id="tax">
                        <label class="control-label">Select User Type</label>
                        <div class="">
                            @Html.DropDownListFor(m => m.UserType, Model.UserTypeList, "--Select Type-", new { @id = "DropdwnType", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2" id="tax">
                        <label class="control-label">UserName</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.UserName, new { @id = "UserName", @class = "form-control", @placeholder = "UserName", })
                        </div>

                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2" id="tax">
                        <label class="control-label">User Course</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.UserCourse, new { @id = "UserName", @class = "form-control", @placeholder = "UserCourse", })
                        </div>

                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2" id="tax">
                        <label class="control-label">UserSection</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.UserSection, new { @id = "UserName", @class = "form-control", @placeholder = "UserSection*", })
                        </div>

                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2" id="tax">
                        <label class="control-label">BooKNo</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.BookNo, new { @id = "BookNo", @class = "form-control", @placeholder = "BookNo*", })
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2" id="tax">
                        <label class="control-label">BookTitle</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.BooKTitle, new { @id = "IssuedDate", @class = "form-control", @placeholder = "BookTitle", })
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2" id="tax">
                        <label class="control-label">IssueDate</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.IssuedDate, new { @id = "IssuedDate", @class = "form-control", @placeholder = "IssuedDate*", type = "Date" })
                        </div>
                    </div>



                    <div class="col-sm-4 col-md-4 col-lg-2" id="tax">
                        <label class="control-label">DueDate</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.DueDate, new { @id = "DueDate", @class = "form-control", @placeholder = "DueDate*", type = "Date" })
                        </div>
                    </div>




                </div>



                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 m-t-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                        <button type="reset" class="btn btn-default" onclick=" window.location.href = '/IssueBook/Index'">Back</button>

                    </div>
                </div>


            </div>

        }




    </div>


</div>

