﻿@model IEnumerable<Entities.Models.IssueBook>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>




<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>






<div class="card">
    <div class="card-header">
        <h3 class="card-title">IssueBookList</h3>

    </div>
    <div class="btn-group  m-t-15" style="position: absolute; right: 35%;padding-bottom:10%">

        <a href="javascript:void(0)" onclick="window.location.href = '/IssueBook/IssuedBookList'" class="btn btn-custon-four btn-success" id="target" title="Create"><i class="fa fa-plus"></i> IssueBook</a>
    </div>


    <div class="card-body">

        <div class="">

            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>SR.No</th>
                        <th>UserType</th>
                        <th>UserName</th>
                        <th>IssuedDate</th>
                        <th>DueDate</th>
                        <th>Title</th>
                        <th>BookNO</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.BookIssuedID</td>
                            <td>@user.UserType</td>
                            <td>@user.UserName</td>
                            <td>@user.IssuedDate</td>
                            <td>@user.DueDate</td>
                            <td>@user.BooKTitle</td>
                            <td>@user.BookNo</td>
                            @*<td>@user.UserName</td>*@
                            @*<td>@user.DoorNo</td>*@

                            <td>
                                <a href="@Url.Action("Edit", "IssueBook", new { @txtval = @user.BookIssuedID})" class="edit-row btn btn-success" title="edit"><i class="fa fa-pencil"></i>edit</a>
                                <a href="@Url.Action("Delete", "IssueBook", new { @txtval = @user.BookIssuedID })" class="edit-row" title="cancel"><i class="fa fa-trash"></i>Delete</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>








       

    </div>


</div>


<script>

    $('#example1').DataTable({
        "paging": true,

        "searching": true,
        "ordering": false,
        "info": true,
        "autoWidth": false,
    });
</script>











