﻿@model PacSchoolManagement.Models.BookIssuedViewModel
@{
    ViewBag.Title = "IssuedBookList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="col-sm-4 col-md-4 col-lg-2" id="tax">

    <p style="text-align: right; width: 500px; margin-top: 50px; margin-left: 150px">
        
        <span style="font-weight: bold; color:blue">Search:</span>
        <input class="" id="txtSearch" name="txtSearch" type="search" placeholder="Search" aria-label="Search">
        @*<input type="text" maxlength="50" style="height: 25px; font: 100" class="" />
        <button type="button" class="btn btn-info" id="btnsearch" style="border: ; border-radius:40px,0px,20px,0px;  width:%; margin-top:10px;padding:0px; "><i class="ti-search" style="color: white; font-size:20px;margin-right20px; "></i>Search</button>
    </p>
</div>

@*<div><table class="webgrid-table table table-bordered">
    <thead>
        <tr class="webgrid-header">
            <th scope="col">
          BookId
            </th>
            <th scope="col">
                BookTilte
            </th>
            <th scope="col">
                BookNo
            </th>

            <th scope="col">
                Publish
            </th>

            <th scope="col">
                Edition
            </th>

            <th scope="col">
                Status
            </th>
           
        </tr>
    </thead>


    <tbody>

        @foreach (var inqDetail in Model.BookDetailList)
        {
            <tr class="webgrid-header">
                <td>
                    <input type="hidden" class="hdnBookId" value="@inqDetail.BookID" readonly="readonly" />
                    <input type="text" class="BookNo" value="@inqDetail.BookNo" readonly="readonly" />
                  
                </td>
                <td scope="col">
                    @*<input type="hidden" class="hdnItem" value="@inqDetail.StudentID" readonly="readonly" />
                    <input type="text" class="BookName right-bar-toggle" style="width:100%" value="@inqDetail.Title" />
                </td>
                <td scope="col">
                    <input type="text" class="BookLanguage" style="width:100%" value="@inqDetail.Language" />
                </td>
                <td scope="col">
                    <input type="text" class="BookEdition" style="width:100%" value="@inqDetail.Edition" />
                </td>

                <td>

                  
              
            </tr>

        }

    </tbody>

    <tfoot>

        <tr class="webgrid-row-style"></tr>
    </tfoot>
</table>
    </div>*@
    

          
           <div class="card card-warning">
    
    <!-- /.card-header -->
    <div class="card-body">
        <h3 style="text-align:center;">IssueBook </h3>
        @using (Html.BeginForm("IssuedBookList", "IssueBook", FormMethod.Post, new { id = "frmCreate", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
          
            <div class="panel-body">
                <h3 style="color:red">@ViewBag.warning</h3>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-2" id="tax">
                        <label class="control-label">Select User Type</label>
                        <div class="">
                            @Html.DropDownListFor(m => m.UserType, Model.UserTypeList, "--Select Type-", new { @id = "DropdwnType", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2" id="tax">
                        <label class="control-label">UserName</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.UserName, new { @id = "UserName", @class = "form-control", @placeholder = "UserName",  })
                        </div>
                       
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2" id="tax">
                        <label class="control-label">User Course</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.UserCourse, new { @id = "UserName", @class = "form-control", @placeholder = "UserCourse", })
                        </div>

                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2" id="tax">
                        <label class="control-label">UserSection</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.UserSection, new { @id = "UserName", @class = "form-control", @placeholder = "UserSection*", })
                        </div>

                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2" id="tax">
                        <label class="control-label">BooKNo</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.BookNo, new { @id = "BookNo", @class = "form-control", @placeholder = "BookNo*",  })
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2" id="tax">
                        <label class="control-label">BookTitle</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.BooKTitle, new { @id = "IssuedDate", @class = "form-control", @placeholder = "BookTitle",  })
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-2" id="tax">
                        <label class="control-label">IssueDate</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.IssuedDate, new { @id = "IssuedDate", @class = "form-control", @placeholder = "IssuedDate*", type = "Date" })
                        </div>
                    </div>
                   


                    <div class="col-sm-4 col-md-4 col-lg-2" id="tax">
                        <label class="control-label">DueDate</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.DueDate, new { @id = "DueDate", @class = "form-control", @placeholder = "DueDate*", type = "Date" })
                        </div>
                    </div>
                    



                    </div>


               
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 m-t-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                        <button type="reset" class="btn btn-default" onclick=" window.location.href = '/IssueBook/Index'">IssueList</button>

                    </div>
                </div>


            </div>

        }




    </div>


</div>
<span class="IsBook"></span>


        

<script>


    $(document).ready(function (e) {
        $('#btnsearch').click(function (e) {
            e.preventDefault();
           // alert("okk")
            var txtSearch = $("#txtSearch").val();
           
           // alert(ClasId + "sec" + sectionid + "sessio" + sessionid)

            window.location = "../IssueBook/Searchbook?txtSearch=" + txtSearch;
            var url = "../IssueBook/IssuedBookList";
            $.ajax({
                type: "GET",
              //  url: url,
                success: function (data) {
                    var obj = JSON.parse(data);
                    $('.IsBook').val(data.BookID);
                    $('.BookNo').val(data.BookNo);

                }
            })
        });


    });

</script>




<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

