﻿@model PacSchoolManagement.Models.TransportAllocationViewModel
@{
    ViewBag.Title = "TransportAllocationList";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}


<h2>TransportAllocationList</h2>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>



<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-info flag-icon-co" onclick="AddNewStudent(0)">TransPortAllocation</a> <br /><br />

    <table class="table table-striped">
        <thead>
            <tr>

                <th>Sr.No.</th>
                <th>Route Code</th>
                <th>Destination No</th>
                <th>User Type</th>
                


                <th>Action(Edit)</th>
                <th>Action(Delete)</th>

            </tr>
        </thead>
        <tbody id="SetSchoolList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>
    </table>

    @*Create A Popup Modal With Registration Form For Add Or Edit Student Record*@

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm" enctype="multipart/form-data">
                            @Html.HiddenFor(m => m.AllocationId, new { @id = "AllocationId" })
                           
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.Route, Model.RouteCodeList, "--Select RouteCode--", new { @id = "ddlRoute", @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Destination, new { @id = "Destination", @class = "form-control", @placeholder = "Destination*" })
                            </div>


                            <div class="form-group">
                                @Html.TextBoxFor(m => m.StartFrequency, new { @id = "StartFrequency", @class = "form-control", @placeholder = "StartFrequency*" })
                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.Type, Model.UserTypeList, "--Select usertype--", new { @id = "ddlType", @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.EndFrequency, new { @id = "RouteStopPlace", @class = "form-control", @placeholder = "RouteStopPlace*" })
                            </div>





                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="SaveStudentRecord">Save</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Create A PopUp Modal For DeleteConfirmation*@

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4>Delete School Record</h4>
                </div>
                <div class="modal-body">
                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancle</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $("#LoadingStatus").html("Loading....");
    $.get("/TransPortAllocation/GetPrinciList", null, DataBind);
    function DataBind(StudentList) {
        var SetData = $("#SetSchoolList");
        for (var i = 0; i < StudentList.length; i++) {
            var Data = "<tr class='row_" + StudentList[i].AllocationId + "'>" +
                "<td>" + StudentList[i].Destination + "</td>" +
                  "<td>" + StudentList[i].Route + "</td>" +
                     "<td>" + StudentList[i].RouteStartPlace + "</td>" +

                  "<td>" + StudentList[i].RouteStopPlace + "</td>" +


                  //"<td>" + StudentList[i].MaximumAllowed + "</td>" +



                "<td>" + "<a href='#' class='btn btn-warning' onclick='EditStudentRecord(" + StudentList[i].AllocationId + ")' ><i class='fas fa-edit'></i></a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteStudentRecord(" + StudentList[i].AllocationId + ")'><i class='fas fa-trash'></i></a>" + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingStatus").html(" ");

        }
    }

    //Show The Popup Modal For Add New Student

    function AddNewStudent(StudentId) {
        $("#form")[0].reset();
        //$("#StuId").val(0);
        //   $("#DropDwn option:selected").text("--Select Dept--");
        $("#ModalTitle").html("Add New Transport");
        $("#MyModal").modal();

    }

    ///Show The Popup Modal For Edit Student Record

    function EditStudentRecord(AllocationId) {
        var url = "/TransPortAllocation/GetStudentById?StudentId=" + AllocationId;
        $("#ModalTitle").html("Update Student Record");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#AllocationId").val(obj.AllocationId);
                $("#Destination").val(obj.Destination);
                $("#StartFrequency").val(obj.StartFrequency);
                $("#ddlType").val(obj.Type);
                $("#EndFrequency").val(obj.EndFrequency);


            }
        })
    }




    //Show The Popup Modal For DeleteComfirmation
    var DeleteStudentRecord = function (AllocationId) {
        $("#AllocationId").val(AllocationId);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var StuId = $("#AllocationId").val();
        $.ajax({
            type: "POST",
            url: "/TransPortAllocation/DeleteStudentRecord?StudentId=" + StuId,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + StuId).remove();
            }
        })
    }
</script>

<script>

    $(document).ready(function (e) {

        $('#SaveStudentRecord').click(function (e) {
            e.preventDefault();
            // if ($("#form").valid()) {
            var formData = new FormData($("#form")[0]);
            //var url = "../Account/Register";
            var url = "/TransPortAllocation/SaveDataInDatabase";
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                success: function (data) {
                    alert("Success!..");
                    window.location.href = "/TransPortAllocation/TransportAllocationList";
                    $("#MyModal").modal("hide");
                },
                cache: false,
                contentType: false,
                processData: false
            });
            //}
        });

    });


</script>