﻿@model PacSchoolManagement.Models.ClassViewModel
@{
    ViewBag.Title = "Class";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}
@*<script src="~/Content/Scripts/jquery-1.10.2.js"></script>
<script src="~/Content/Scripts/bootstrap.min.js"></script>
<link href="~/Content/ModalCss/bootstrap.min.css" rel="stylesheet" />*@
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

<h2>Class</h2>

<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-info" onclick="AddNewStudent(0)">Add Class</a> <br /><br />

    <table class="table table-striped">
        <thead>
            <tr>
                @*<th>Class ID</th>*@
                <th>Class Name</th>
                <th>TeacherId</th>
                <th>Section</th>
               
                @*<th>deptertment</th>*@
                <th>Action(Edit)</th>
                <th>Action(Delete)</th>

            </tr>
        </thead>
        <tbody id="SetStudentList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>
    </table>

    @*Create A Popup Modal With Registration Form For Add Or Edit Student Record*@

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(m => m.ClassID, new { @id = "ClassID" })
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.ClassName, new { @id = "ClassName", @class = "form-control", @placeholder = "ClassName*" })
                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.SectionID, Model.sectionList, "--Select section--", new { @id = "DropDwnsection", @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.SchoolUserID, Model.teacherList, "--Select teacther--", new { @id = "DropDwnteacher", @class = "form-control" })
                            </div>

                            @*<div class="form-group">
                                @Html.DropDownListFor(m => m.ClassID, Model.classList, "--Select Dept--", new { @id = "DropDwnclass", @class = "form-control" })
                            </div>*@

                            <div class="form-group">
                                @Html.DropDownListFor(m => m.DeptId, Model.departmentList , "--Select Dept--", new { @id = "DropDwndept", @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="SaveStudentRecord">Save</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Create A PopUp Modal For DeleteConfirmation*@

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <h4>Delete Student Record</h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancel</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#LoadingStatus").html("Loading....");
    $.get("/MasterDataManagement/GetStudentList", null, DataBind);
    function DataBind(StudentList) {
        var SetData = $("#SetStudentList");
        for (var i = 0; i < StudentList.length; i++) {
            var Data = "<tr class='row_" + StudentList[i].ClassID + "'>" +
              ///  "<td>" + StudentList[i].ClassID + "</td>" +
                "<td>" + StudentList[i].ClassName + "</td>" +
                  "<td>" + StudentList[i].ClassTeacherID + "</td>" +
                //"<td>" + StudentList[i].SectionID + "</td>" +
               "<td>" + StudentList[i].SectionID + "</td>" +
                //"<td>" + StudentList[i].DeptName + "</td>" +

                "<td>" + "<a href='#' class='btn btn-warning' onclick='EditStudentRecord(" + StudentList[i].ClassID + ")' ><i class='fas fa-edit'></i></a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteStudentRecord(" + StudentList[i].ClassID + ")'><i class='fas fa-trash'></i></a>" + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingStatus").html(" ");

        }
    }

    //Show The Popup Modal For Add New Student

    function AddNewStudent(StudentId) {
        $("#form")[0].reset();
        //$("#StuId").val(0);
     //   $("#DropDwn option:selected").text("--Select Dept--");
        $("#ModalTitle").html("Add New Class");
        $("#MyModal").modal();

    }

    ///Show The Popup Modal For Edit Student Record

    function EditStudentRecord(ClassID) {
        var url = "/MasterDataManagement/GetStudentById?StudentId=" + ClassID;
        $("#ModalTitle").html("Update Record");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#ClassID").val(obj.ClassID);
                $("#ClassName").val(obj.ClassName);
                $("#DropDwnsection").val(obj.SectionID);
               $("#DropDwnteacher").val(obj.ClassTeacherID);
               // $("#DropDwnsection").val(obj.SectionId);
                $("#DropDwndept").val(obj.DepartmentId);

            }
        })
    }

    $("#SaveStudentRecord").click(function () {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/MasterDataManagement/SaveDataInDatabase",
            data: data,
            success: function (result) {
                alert("Success!..");
                window.location.href = "/MasterDataManagement/Class";
                $("#MyModal").modal("hide");

            }
        })
    })

    //Show The Popup Modal For DeleteComfirmation
    var DeleteStudentRecord = function (ClassID) {
        $("#StuId").val(ClassID);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var StuId = $("#ClassID").val();
        alert(StuId);
        $.ajax({
            type: "POST",
            url: "/MasterDataManagement/DeleteStudentRecord?StudentId=" + StuId,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + StuId).remove();
            }
        })
    }
</script>