﻿@model PacSchoolManagement.Models.DestinationandFeesViewModel
@{
    ViewBag.Title = "DestinationAndFeesList";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>


<h2>DestinationAndFeesList</h2>

<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-info" onclick="AddNewStudent(0)">Add Destination&Fess</a> <br /><br />

    <table class="table table-striped">
        <thead>
            <tr>

                <th>RauteCode</th>

                <th>FeeType</th>

                <th></th>

                <th> Amount</th>
                <th>Action(Edit)</th>
                <th>Action(Delete)</th>

            </tr>
        </thead>
        <tbody id="SetStudentList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>
    </table>

    @*Create A Popup Modal With Registration Form For Add Or Edit Student Record*@

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(m => m.DestinationId, new { @id = "DestinationId" })
                            @*<div class="form-group">
                                    @Html.TextBoxFor(m => m.BookName, new { @id = "BookName", @class = "form-control", @placeholder = "BookName" })
                                </div>*@
                           

                                <div class="form-group">
                                @Html.DropDownListFor(m => m.RouteCode, Model.RauteCodeList, "--Select RouteCode--", new { @id = "DropDwnRouteCode", @class = "form-control" })
                               

                            </div>
                            <div class="form-group">
                                
                                    @Html.DropDownListFor(m => m.FeeType, Model.FeesTypeList, "--Select FeeType--", new { @id = "DropDwnFeeType", @class = "form-control" })
                                </div>
                              
                           
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.PickupDrop, new { @id = "PickupDrop", @class = "form-control", @placeholder = "PickupDrop*" })
                            </div>
                           
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.StopTime, new { @id = "StopTime", @class = "form-control", @placeholder = "StopTime Name*" })
                            </div>

                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Amount, new { @id = "Amount", @class = "form-control", @placeholder = "Amount *" })
                            </div>
                            
                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="SaveStudentRecord">Save</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Create A PopUp Modal For DeleteConfirmation*@

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4>Delete</h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancel</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $("#LoadingStatus").html("Loading....");
    $.get("/DestinationAndFees/GetStudentList", null, DataBind);
    function DataBind(StudentList) {
        var SetData = $("#SetStudentList");
        for (var i = 0; i < StudentList.length; i++) {
            var Data = "<tr class='row_" + StudentList[i].DestinationId + "'>" +
                "<td>" + StudentList[i].RouteCode + "</td>" +
                 "<td>" + StudentList[i].FeeType + "</td>" +
                  //"<td>" + StudentList[i].PickupDrop + "</td>" +
                   "<td>" + StudentList[i].StopTime + "</td>" +
                    "<td>" + StudentList[i].Amount + "</td>" +


                "<td>" + "<a href='#' class='btn btn-warning' onclick='EditStudentRecord(" + StudentList[i].DestinationId + ")' ><i class='fas fa-edit'></i></a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteStudentRecord(" + StudentList[i].DestinationId + ")'><i class='fas fa-trash'></i></a>" + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingStatus").html(" ");

        }
    }

    //Show The Popup Modal For Add New Student

    function AddNewStudent(StudentId) {
        $("#form")[0].reset();
        //$("#StuId").val(0);
        //   $("#DropDwn option:selected").text("--Select Dept--");
        $("#ModalTitle").html("Add New Department");
        $("#MyModal").modal();

    }

    ///Show The Popup Modal For Edit Student Record

    function EditStudentRecord(DestinationId) {
        var url = "/DestinationAndFees/GetStudentById?StudentId=" + DestinationId;
        $("#ModalTitle").html("Update Department Record");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#DestinationId").val(obj.DestinationId);
                $("#DropDwnRouteCode").val(obj.RouteCode);
                $("#DropDwnFeeType").val(obj.FeeType);
                $("#PickupDrop").val(obj.PickupDrop);
                $("#StopTime").val(obj.StopTime);
              
                $("#Amount").val(obj.Amount);
               

            }
        })
    }

    $("#SaveStudentRecord").click(function () {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/DestinationAndFees/SaveDataInDatabase",
            data: data,
            success: function (result) {
                alert("Success!..");
                window.location.href = "/DestinationAndFees/DestinationAndFeesList";
                $("#MyModal").modal("hide");

            }
        })
    })

    //Show The Popup Modal For DeleteComfirmation
    var DeleteStudentRecord = function (DestinationId) {
        $("#DestinationId").val(DestinationId);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var StuId = $("#DestinationId").val();
     //   alert(StuId);
        $.ajax({
            type: "POST",
            url: "/DestinationAndFees/DeleteStudentRecord?StudentId=" +StuId,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + StuId).remove();
            }
        })
    }
</script>