﻿@model IEnumerable<PacSchoolManagement.Models.HostelAllocationViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}






<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>






<div class="card">
    <div class="card-header">
        <h3 class="card-title">Request Detail</h3>

    </div>
    


    <div class="card-body">

        <div class="">

            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>

                        <th>Hostal Type</th>
                        <th>User</th>
                        <th>Hostal Name</th>
                        @*<th>Floor No</th>*@
                        <th>Room No</th>
                        <th>Registration Date</th>
                        <th>Vacating Date</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.HostelAllocatedId</td>
                            <td>@user.UsarName</td>
                            @*<td>@user.UserType</td>*@
                            <td>@user.HostelName</td>
                            @*<td>@user.Fl</td>*@
                            <td>@user.HostelRoom</td>
                            <td>@user.HostelRegdate</td>
                            <td>@user.VacatingDate</td>
                            @*<td>@user.DoorNo</td>*@

                           
                        </tr>
                    }
                </tbody>
            </table>
        </div>










    </div>


</div>


<script>

    $('#example1').DataTable({
        "paging": true,

        "searching": true,
        "ordering": false,
        "info": true,
        "autoWidth": false,
    });
</script>







