﻿
@model PacSchoolManagement.Models.TransPortReportViewModel
@{
    ViewBag.Title = "TransPortReport";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>


<div class="card card-warning">

    <!-- /.card-header -->
    <div class="card-body">
        <h3 style="text-align:center;">Report TransPort </h3>
        @using (Html.BeginForm("", "IssueBook", FormMethod.Post, new { id = "frmCreate", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="panel-body" id=" UpdatePanel">
        <h3 style="color:red">@ViewBag.warning</h3>
        <div class="row">


            <div class="col-sm-4 col-md-4 col-lg-2" id="ddlreporttype">
                <label class="control-label">Report For</label>
                <div class="">
                    <select class="form-control"  id="ddlreport">

                        <option >Rute</option>
                        <option >Student</option>
                    </select>
                </div>

            </div>





            <div class="col-sm-4 col-md-4 col-lg-2" id="Class" style="display: none">
                <label class="control-label">Class</label>
                <div class="">
                    @Html.DropDownListFor(m => m.ClassId, Model.ClassList, "--Select option--", new { @id = "DropdwnReport", @class = "form-control" })
                </div>

            </div>

            <div class="col-sm-4 col-md-4 col-lg-2" id="Section" style="display: none">
                <label class="control-label">Section</label>
                <div class="">
                    @Html.DropDownListFor(m => m.SectionId, Model.SectionList, "--Select option--", new { @id = "DropdwnReport", @class = "form-control" })
                </div>

            </div>



        </div>





    </div>

        }



        <button class=" btn btn-info" onclick="printDiv('pdf','Title')">PRINT</button>


    </div>


</div>



<script type="text/javascript">
    $(document).ready(function () {
        

        $("#ddlreporttype").change(function () {

            var v = $('#ddlreport').val();
             alert(v);

            if (v == 'Student') {
                $("#Class").show();
                $("#Section").show();
            }
            else {
                $("#Class").hide();
                $("#Section").hide();
            }
           
        });
    });
</script>

<script>
    function printDiv(divId, title) {

        let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150');

        mywindow.document.write('<html><head> <title>${title}</title>');
        mywindow.document.write('</head><body>');
        mywindow.document.write(document.getElementById("UpdatePanel").innerHTML);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();

        return true;
    }
</script>
