﻿@model PacSchoolManagement.Models.DeptViewModel
@{
    ViewBag.Title = "Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Content/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/ModalCss/bootstrap.min.css" rel="stylesheet" />*@
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

<h2>Department</h2>

<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-info" onclick="AddNewStudent(0)">Add Department</a> <br /><br />

    <table class="table table-striped">
        <thead>
            <tr>
                @*<th>Dept ID</th>*@
                <th>Department Name</th>
               
                
                <th>Action(Edit)</th>
                <th>Action(Delete)</th>

            </tr>
        </thead>
        <tbody id="SetStudentList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>
    </table>

    @*Create A Popup Modal With Registration Form For Add Or Edit Student Record*@

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(m => m.DeptId, new { @id = "DeptId" })
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.DepartmentName, new { @id = "DepartmentName", @class = "form-control", @placeholder = "Department Name*" })
                            </div>
                           
                            
                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="SaveStudentRecord">Save</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Create A PopUp Modal For DeleteConfirmation*@

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                   
                    <h4>Delete</h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancel</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#LoadingStatus").html("Loading Data....");
    $.get("/Department/GetStudentList", null, DataBind);
    function DataBind(StudentList) {
        var SetData = $("#SetStudentList");
        for (var i = 0; i < StudentList.length; i++) {
            var Data = "<tr class='row_" + StudentList[i].DeptId + "'>" +
                "<td>" + StudentList[i].DepartmentName + "</td>" +
                

                "<td>" + "<a href='#' class='btn btn-warning' onclick='EditStudentRecord(" + StudentList[i].HouseID + ")' ><i class='fas fa-edit'></i></a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteStudentRecord(" + StudentList[i].HouseID + ")'><i class='fas fa-trash'></i></a>" + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingStatus").html(" ");

        }
    }

    //Show The Popup Modal For Add New Student

    function AddNewStudent(StudentId) {
        $("#form")[0].reset();
        //$("#StuId").val(0);
        //   $("#DropDwn option:selected").text("--Select Dept--");
        $("#ModalTitle").html("Add New Department");
        $("#MyModal").modal();

    }

    ///Show The Popup Modal For Edit Student Record

    function EditStudentRecord(DeptId) {
        var url = "/Department/GetStudentById?StudentId=" + DeptId;
        $("#ModalTitle").html("Update Department Record");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#DeptId").val(obj.DeptId);
                $("#DepartmentName").val(obj.DepartmentName);
              

            }
        })
    }

    $("#SaveStudentRecord").click(function () {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/Department/SaveDataInDatabase",
            data: data,
            success: function (result) {
                alert("Success!..");
                window.location.href = "/Department/Department";
                $("#MyModal").modal("hide");

            }
        })
    })

    //Show The Popup Modal For DeleteComfirmation
    var DeleteStudentRecord = function (DeptId) {
        $("#DeptId").val(DeptId);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var StuId = $("#DeptId").val();
        alert(StuId);
        $.ajax({
            type: "POST",
            url: "/Department/DeleteStudentRecord?StudentId=" + StuId,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + StuId).remove();
            }
        })
    }
</script>