﻿@model PacSchoolManagement.Models.DeptViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_princiLayout.cshtml";
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

<h2>Department</h2>

<div class="container" style="margin-top:3%">
  
    <p style="color:blue">*To add a new department contact HeadQuaters</p>

    <table class="table table-striped">
        <thead>
            <tr>
                @*<th>Dept ID</th>*@
                <th>Department Name</th>


                

            </tr>
        </thead>
        <tbody id="SetStudentList">
            <tr id="LoadingStatus" style="color:blue"></tr>
        </tbody>
    </table>

    @*Create A Popup Modal With Registration Form For Add Or Edit Student Record*@

    

    @*Create A PopUp Modal For DeleteConfirmation*@

    
</div>
<script>
    $("#LoadingStatus").html("Loading Data....");
    $.get("/Department/GetStudentList", null, DataBind);
    function DataBind(StudentList) {
        var SetData = $("#SetStudentList");
        for (var i = 0; i < StudentList.length; i++) {
            var Data = "<tr class='row_" + StudentList[i].DeptId + "'>" +
                "<td>" + StudentList[i].DepartmentName + "</td>" +


             
                "</tr>";
            SetData.append(Data);
            $("#LoadingStatus").html(" ");

        }
    }

    //Show The Popup Modal For Add New Student

    function AddNewStudent(StudentId) {
        $("#form")[0].reset();
        //$("#StuId").val(0);
        //   $("#DropDwn option:selected").text("--Select Dept--");
        $("#ModalTitle").html("Add New Department");
        $("#MyModal").modal();

    }

    ///Show The Popup Modal For Edit Student Record

    function EditStudentRecord(DeptId) {
        var url = "/Department/GetStudentById?StudentId=" + DeptId;
        $("#ModalTitle").html("Update Department Record");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#DeptId").val(obj.DeptId);
                $("#DepartmentName").val(obj.DepartmentName);


            }
        })
    }

    $("#SaveStudentRecord").click(function () {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/Department/SaveDataInDatabase",
            data: data,
            success: function (result) {
                alert("Success!..");
                window.location.href = "/Department/Department";
                $("#MyModal").modal("hide");

            }
        })
    })

    //Show The Popup Modal For DeleteComfirmation
    var DeleteStudentRecord = function (DeptId) {
        $("#DeptId").val(DeptId);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var StuId = $("#DeptId").val();
        alert(StuId);
        $.ajax({
            type: "POST",
            url: "/Department/DeleteStudentRecord?StudentId=" + StuId,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + StuId).remove();
            }
        })
    }
</script>



